{%- assign quantity_t = 'products.quantity' | t -%}

<div class="product-quantity--root">
  <label for="{{ id }}--quantity">
    {{ quantity_t }}
  </label>
  <div class="quantity-wrapper border-radius-slightly_rounded">
    <a href="javascript:;" data-quantity="down">−</a>
    <input
      class="product-quantity--input"
      id="{{ id }}--quantity"
      type="number"
      form="{{ id }}"
      name="quantity"
      min="1"
      value="1"
    />
    <a href="javascript:;" data-quantity="up">+</a>
  </div>
  
</div>