<div class="main-page-container shopify-main-template--ambassador-page">
	<div id="shopify-section-template-breadcrumbs" class="shopify-section shopify-section-brdcrmp shopify-section-ambassador">
		<div class="product-page--header" data-mq="medium-large">
			<ul class="breadcrumbs--root">
				<li data-item="block-link"> <a id="breadcrumbtext" href="/">HOME</a> </li>
				<li id="breadcrumbtitle" data-item="accent-text">BECOME AN AMBASSADOR</li>
			</ul>
		</div>
	</div>

	<div id="shopify-section-template--ambassador_title" class="shopify-sectio shopify-section-main-title shopify-section-ambassador">
		<div class="featured-text--root">			
		  <!--h3 class="featured-text--overline" >  HI GORGEOUS2 </h3-->
		  <h1 class="featured-text--heading featured-text--heading-ambassador" data-item="section-heading" > Hi Gorgeous! <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Vector.png?v=1662540107" /> </h1>
		  <div class="custom-text" >
			  <div class="featured-text--body" data-item="rte-content" > MD Glam is a luxurious skincare brand cultivated with precision, highest quality, science, love, and passion by Dr. Cat! </div>
		  </div>		
		</div>
	</div>


	<div id="shopify-section-template--ambassador_Content1" class="shopify-section shopify_section1 shopify-section-ambassador">
		<div class="image-with-text--root" data-section-id="template--ambassador_Content2">
			<div class="featured-content--root" data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="left" data-text-width="large" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">						
					<div class="featured-content--image">
						<div class="image--root" data-parallax="false" data-cover="true" data-cover-mobile="true" data-darken="false" data-darken-mobile="false" style="width: 100%;">
							<div class="image--container section1img" > <img class="lazyautosizes ls-is-cached lazyloaded" alt="MD GLAM IS AN EXTENSION OF MYSELF" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/become_an_ambassador.png?v=1662540697"> </div>
						</div>
					</div>
					<div class="featured-content--text">
						<div class="featured-content--text-container">
							<h4 class="featured-content--overline" > Become an Ambassador </h4>
							<div class="featured-content--description" id="Featured-content-desc" data-item="rte-content"> At MD Glam we embrace self-care and self-love while pampering your skin, soul, and senses with a little, much deserved “me time.” As we assemble our MDG Boss Girl Community, we want to give you a chance to be a part of something bigger than yourself. </div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="shopify-section-template--ambassador_Content2" class="shopify-section shopify_section2 shopify-section-ambassador">
		<div class="image-with-text--root" data-section-id="template--ambassador_Content3">
			<div class="featured-content--root" data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="right" data-text-width="medium" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">						
					<div class="featured-content--image">
						<div class="image--root" data-parallax="false" data-cover="true" data-cover-mobile="true" data-darken="false" data-darken-mobile="false" style="width: 100%;">
							<div class="image--container section2img"> <img class="lazyautosizes ls-is-cached lazyloaded" alt="" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/if_you_love.png?v=1662546691"> </div>
						</div>
					</div>
					<div class="featured-content--text">
						<div class="featured-content--text-container">
							<h4 class="featured-content--overline" > If You Love… </h4>
							<div class="featured-content--description" data-item="rte-content"> 
								<p>Sharing honest stories of you skincare struggles and journey;</p> 
								<p>Embracing self-care and self-love;</p>
								<p>Getting creative and trying any trend at least once;</p>
								<p>Making genuine connections and building a community of girl bosses;</p>
								<p>We want to hear from you!</p>
							</div>
							<div class="joinNowBtn">
							  <button class="uniButton" type="submit" value="JOIN NOW">JOIN NOW</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="shopify-section-template--ambassador_Content3" class="shopify-section shopify_section3 shopify-section-ambassador">
		<div class="image-with-text--root" data-section-id="template--ambassador_Content2">
			<div class="featured-content--root" data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="left" data-text-width="large" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">
					
					<div class="featured-content--image">
						<div class="image--root" data-parallax="false" data-cover="true" data-cover-mobile="true" data-darken="false" data-darken-mobile="false" style="width: 100%;">
							<div class="image--container" > <img class="lazyautosizes ls-is-cached lazyloaded" alt="MDGBOSSGIRL PERKS" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/mdgbossgirl_perks.png?v=1662566351"> </div>
						</div>
					</div>
					<div class="featured-content--text">
						<div class="featured-content--text-container">
							<h3 class="featured-content--overline" > #MDGBOSSGIRL Perks </h3>
							<div class="inner-content">
								<div class="subHeading_ambassador1" >
									<span class="subHeading_image_container" style="margin-right: 5px; position: relative;" >
										<img class="subHeading_image" style="width: 48px; " src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/followers-icon.svg?v=1662640266" />
									</span>
									<span class="subHeading_main_text" >Grow your following</span>
								</div>
								
								<div class="featured-content--description featured-content--description1"  id="Featured-content-desc" data-item="rte-content"> <p>MD GLAM is always looking to feature new content on our social channels, and we often look to our MDG Boss Girl Family for original content to post.</p> </div>
								<div class="subHeading_ambassador2" >
									<span class="subHeading_image_container" style="margin-right: 5px; position: relative;" >
										<img class="subHeading_image" style="width: 48px; height: 48px;" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/access-icon.svg?v=1662640266" />
									</span>
									<span class="subHeading_main_text" >Early access</span>
								</div>
								<div class="featured-content--description featured-content--description2" id="Featured-content-desc" data-item="rte-content"> <p>Get exclusive early access to new launches, promos, and special events.</p> </div>
								<div class="subHeading_ambassador3" >
									<span class="subHeading_image_container" style="margin-right: 5px; position: relative;" >
										<img class="subHeading_image" style="width: 48px;" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/video-icon.svg?v=1662640266" />
									</span>
									<span class="subHeading_main_text" >Chance to be featured</span>
								</div>
								<div class="featured-content--description featured-content--description3" id="Featured-content-desc" data-item="rte-content"> <p>You will have a lot of opportunities to be featured in MD GLAM videos and campaigns.</p> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="shopify-section-template--ambassador_Content4" class="shopify-section shopify_section4 shopify-section-ambassador">
		<div class="image-with-text--root" data-section-id="template--ambassador_Content3">
			<div class="featured-content--root" data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="right" data-text-width="medium" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">
					<h2 class="Mobile-heading" id="Mobile-Heading" data-item="section-heading section-heading--mobile">Discount And Referral Code</h2>
					<div class="featured-content--image">
						<div class="image--root" data-parallax="false" data-cover="true" data-cover-mobile="true" data-darken="false" data-darken-mobile="false" style="width: 100%;">
							<div class="image--container" > <img class="lazyautosizes ls-is-cached lazyloaded" alt="OUR MISSION" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Discount_And_Referral_Code.png?v=1662583098"> </div>
						</div>
					</div>
					<div class="featured-content--text">
						<div class="featured-content--text-container" >
							<h2 class="featured-content--overline" >Discount and Referral Code</h2>
							<div class="inner_circles" style="position: relative;">
								<div class="step-button four-steps-btn et_pb_button_module_wrapper step1" style="" >
									<div class="step-button-inner" >
										<h3>PLUS<span>10%</span></h3>
										<div class="featured-content--description" id="Featured-content-desc" data-item="rte-content"> <p>commission for every sale made with your code.</p> </div>
									</div>
								</div>
								<div class="step-button four-steps-btn et_pb_button_module_wrapper step2" style="" >
									<div class="step-button-inner" >
										<h3>ENJOY<span>25%</span></h3>
										<div class="featured-content--description" id="Featured-content-desc" data-item="rte-content"> <p>off all products once a month, including new launches.</p> </div>
									</div>
								</div>
								<div class="step-button four-steps-btn et_pb_button_module_wrapper step3" style="" >
									<div class="step-button-inner" >
										<h3>UNIQUE<span>15%</span></h3>
										<div class="featured-content--description" id="Featured-content-desc" data-item="rte-content"> <p>off referral code for your followers, family, and friends.</p> </div>
									</div>										
								</div>										
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="shopify-section-template--ambassador_title" class="shopify-section shopify-section-steps-heading shopify-section-ambassador">
		<div class="featured-text--root">			
		  <!--h3 class="featured-text--overline" data-item="overline">  HI GORGEOUS2 </h3-->
		  <h1 class="featured-text--heading" data-item="section-heading" style=" ">  How it Works </h1>
		  <div class="custom-text">
			  <div class="featured-text--body" data-item="rte-content" style=""> Welcome to our ambassadors step by step guide - here you will find all the information to start your ambassador journey with us and everything you need to continue successfully. </div>
		  </div>		
		</div>
	</div>

	<div id="shopify-section-template--ambassador_Content5" class="shopify-section shopify_section5 shopify-section-ambassador">
		<div class="image-with-text--root how_it_works_step1 work_steps active" data-step="1" data-section-id="template--ambassador_Content5">
			<div class="featured-content--root" data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="left" data-text-width="large" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">				
					<div class="featured-content--image">
						<div class="image--root" data-parallax="false" data-cover="true" data-cover-mobile="true" data-darken="false" data-darken-mobile="false" style="width: 100%;">
							<div class="image--container section1img" > <img class="lazyautosizes ls-is-cached lazyloaded" alt="MD GLAM IS AN EXTENSION OF MYSELF" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/step-1.png?v=1662643758"> </div>
						</div>
					</div>
					<div class="featured-content--text">
						<div class="featured-content--text-container">
							<div class="step_subheading" ><span class="stepCount" >01</span>Verify your Account</div>
							<div class="step-description" id="Featured-content-desc" data-item="rte-content"> Enter your email to set up and verify your account. </div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="image-with-text--root how_it_works_step2 work_steps" style="display:none;" data-step="2" data-section-id="template--ambassador_Content5">
			<div class="featured-content--root"  data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="left" data-text-width="large" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">				
					<div class="featured-content--image">
						<div class="image--root" data-parallax="false" data-cover="true" data-cover-mobile="true" data-darken="false" data-darken-mobile="false" style="width: 100%;">
							<div class="image--container section1img" > <img class="lazyautosizes ls-is-cached lazyloaded" alt="MD GLAM IS AN EXTENSION OF MYSELF" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/step-2.png?v=1662650207"> </div>
						</div>
					</div>
					<div class="featured-content--text">
						<div class="featured-content--text-container">
							<div class="step_subheading" ><span class="stepCount" >02</span>Connect your Social Handle(s)</div>
							<div class="step-description" id="Featured-content-desc" data-item="rte-content"> Click the “Get Started” button to get started and follow the prompts to sync your Instagram and ALL other applicable social media handles. </div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="image-with-text--root how_it_works_step3 work_steps" style="display:none;" data-step="3" data-section-id="template--ambassador_Content5">
			<div class="featured-content--root"  data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="left" data-text-width="large" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">				
					<div class="featured-content--image">
						<div class="image--root" data-parallax="false" data-cover="true" data-cover-mobile="true" data-darken="false" data-darken-mobile="false" style="width: 100%;">
							<div class="image--container section1img" > <img class="lazyautosizes ls-is-cached lazyloaded" alt="MD GLAM IS AN EXTENSION OF MYSELF" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/step-3.png?v=1662650645"> </div>
						</div>
					</div>
					<div class="featured-content--text">
						<div class="featured-content--text-container">
							<div class="step_subheading" ><span class="stepCount" >03</span>Fill Out the Application</div>
							<div class="step-description" id="Featured-content-desc" data-item="rte-content">It only takes about 10 minutes. Be sure to read the Privacy Policy and Terms before submitting your application.</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="image-with-text--root how_it_works_step4 work_steps" style="display:none;" data-step="4" data-section-id="template--ambassador_Content5">
			<div class="featured-content--root"  data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="left" data-text-width="large" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">				
					<div class="featured-content--image">
						<div class="image--root" data-parallax="false" data-cover="true" data-cover-mobile="true" data-darken="false" data-darken-mobile="false" style="width: 100%;">
							<div class="image--container section1img" > <img class="lazyautosizes ls-is-cached lazyloaded" alt="MD GLAM IS AN EXTENSION OF MYSELF" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/step-4.png?v=1662650650"> </div>
						</div>
					</div>
					<div class="featured-content--text">
						<div class="featured-content--text-container">
							<div class="step_subheading" ><span class="stepCount" >04</span>Next Steps</div>
							<div class="step-description" id="Featured-content-desc" data-item="rte-content"> 
							<p>After you submit your application for review, you will be notified via email within 7-14 days via email if you have been selected to represent #MDGBossGirl as an Ambassador. If you do not get an email after 14 days, unfortunately, you have not been selected.</p>
							<p>We encourage you to reapply after 3 months. If you need help or have any questions you can email us at help@mdglam.com</p>
							<p><button class="uniButton" type="submit" value="JOIN NOW">JOIN NOW</button></p>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="nextpreButton" >
			<button class="pre_button uniButton" style="display:none;">Previous</button>
			<button class="next_button uniButton" >Next</button>
		</div>
	</div>
	<style>
		/* --MOBILE-- */
		@media (max-width: 767px){
		.accordion {
		  background-color: unset;
		  /* color: #444; */
		  cursor: pointer;
		  width: 100%;
		  border: none;
		  text-align: left;
		  outline: none;

		  transition: 0.4s;
		  padding-left: 0;
		padding: 10px 0px;



		/* Desktop/Proxima Nova/Body/18 regular */

		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		}

		.active, .accordion:hover {
		  background-color: unset;
		  color: unset;
		}

		.accordion:after {
		  content: url('https://cdn.shopify.com/s/files/1/0655/9442/5598/files/arrow-icon.svg?v=1663090533');
		  transition-duration: 0.5s;
		  /* color: #777; */
		  font-weight: bold;
		  float: right;
		  margin-left: 5px;
		}

		.accordion.active:after {
		  content: url('https://cdn.shopify.com/s/files/1/0655/9442/5598/files/arrow-icon.svg?v=1663090533');
		  transform: rotate(90deg);
		  transition-duration: 0.5s;
		}

		.panel {
			padding: 0;
			/* background-color: white; */
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			border-bottom: 1px solid #000;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 130%;
			text-align: left;
		}
		.inner_panel {
			width: 90%;
			text-align: justify;
		}
		 /* Section 6 */
		 
		.shopify_section6 .featured-content--text.titleSec{
			text-align: left;
			order: 1 !important;
		}
		.shopify_section6 .featured-content--text.faqSec{
			
			max-width: unset !important;
			order: 2 !important;
		}
		.shopify_section6 h4{
			font-family: 'Spectral' !important;
			font-style: normal;
			font-weight: 275;
			font-size: 56px;
			line-height: 110%;
			/* identical to box height, or 62px */

			/* text-transform: capitalize; */

			color: #000000;
			margin: 0;
		}

		.shopify_section6 .featured-content--container{
			align-items: unset;
		}
		.shopify_section6 .featured-content--root{
			padding-top: 24px;
		}
		.accordion_outer{
			
		}
		}
		</style>
		<style>
		/* --DESKTOP-- */
		@media (min-width: 1025px){
		.accordion {
			background-color: unset;
			/* color: #444; */
			cursor: pointer;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;

			transition: 0.4s;
			padding-left: 0;
			padding: 10px 0px;



			/* Desktop/Proxima Nova/Body/18 regular */

			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;
		}

		.active, .accordion:hover {
		  background-color: unset;
		  color: unset;
		}

		.accordion:after {
		  content: url('https://cdn.shopify.com/s/files/1/0655/9442/5598/files/arrow-icon.svg?v=1663090533');
		  transition-duration: 0.5s;
		  /* color: #777; */
		  font-weight: bold;
		  float: right;
		  margin-left: 5px;
		}

		.accordion.active:after {
		  content: url('https://cdn.shopify.com/s/files/1/0655/9442/5598/files/arrow-icon.svg?v=1663090533');
		  transform: rotate(90deg);
		  transition-duration: 0.5s;
		}

		.panel {
			padding: 0;
			/* background-color: white; */
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			border-bottom: 1px solid #000;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 130%;
			text-align: left;
		}
		.inner_panel {
			width: 90%;
			text-align: justify;
		}
		 /* Section 6 */
		 
		.shopify_section6 .featured-content--text.titleSec{
			margin-left: 0;
			width: 35%;
			order: 1 !important;
		}
		.shopify_section6 .featured-content--text.faqSec{
			width: 65%;
			max-width: unset !important;
			order: 2 !important;
			margin-left: 0;
		}
		.shopify_section6 h4{
			font-family: 'Spectral' !important;
			font-style: normal;
			font-weight: 275;
			font-size: 56px;
			line-height: 110%;
			/* identical to box height, or 62px */

			/* text-transform: capitalize; */

			color: #000000;
			margin: 0;
		}

		.shopify_section6 .featured-content--container{
			align-items: unset;
		}
		.shopify_section6 .featured-content--root{
			padding-top: 108px;
		}
		.accordion_outer{
			
		}
		}
		</style>
	<div id="shopify-section-template--ambassador_Content6" class="shopify-section shopify_section6 shopify-section-ambassador" style="clear: both;">
		<div class="image-with-text--root" data-section-id="template--ambassador_Content3">
			<div class="featured-content--root" data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="right" data-text-width="medium" data-placeholder-image="false">
				<div class="featured-content--container" data-background-color="light">						
					<div class="featured-content--text titleSec">
						<div class="featured-content--text-container">
							<h4 class="featured-content--overline"> FAQ </h4>
						</div>
					</div>
					<div class="featured-content--text faqSec">
						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >What is a MD Glam Boss Girl Ambassador?</span></div>
							<div class="panel">
								<div class="inner_panel">
									<p class="" ><span >A MD Glam Boss Girl Ambassador is an affiliated person of MD Glam who helps to promote MD Glam’s products and the brand’s message consistently through one's social media platforms and word of mouth.<br><br>Our Ambassador program comes with:</span></p>
									<ul>
										<li><span>Lifetime exclusive early access  to all new product launches</span></li>
										<li><span>Lifetime 25% off all products including new launching products</span></li>
										<li><span>Lifetime 15% off personalized discount code for your followers </span></li>
										<li><span>Lifetime opportunity to receive 10% cash commissions for every sell that is made with your personalized discount code</span></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >Requirements to guarantee a spot in the Ambassador Program?</span></div>
							<div class="panel">
								<div class="inner_panel">
									<ul>
										<li><span>Follow our social media account on Instagram, TikTok, Facebook, and Youtube (ALL platforms that you are actively on)</span></li>
										<li><span>Leave us a detailed 5-star review on our products and/or our Facebook page</span></li>
										<li><span>Shout us out at least 2 to 3 times a month on your IG story or main page (and having tagged us so we can see it).</span></li>
										<li><span>Your Instagram is a public account</span></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >What are the requirements to become a MD Glam Girl Boss Ambassador?</span></div>
							<div class="panel">
								<div class="inner_panel">
									<p><span>To help us grow our message and reach more brand awareness to women all over the world:</span></p>
									<ul>
										<li><span>Actively spread our message by posting quality content about MD Glam via your social media platforms</span></li>
										<li><span>At Least 4 MD Glam related IG posts and 4 x frame IG stories a month </span></li>
										<li><span>Create new launch-related posts on your social media </span></li>
										<li><span>Helping us promote upcoming launches on your social media </span></li>
										<li><span>Promoting your ambassador discount code on your social media </span></li>
										<li><span>Include [ ALL ] branded hashtags on all social media posts</span></li>
										<li><span>Tag us in all MD Glam related posts </span></li>
										<li><span>Link our MD Glam website in your IG bio</span></li>
										<li><span>When we host collaborations/giveaways etc. ambassadors are expected to help promote their social media platforms to help drive audiences over to it.</span></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >How to qualify for becoming a MD Glam Squad Ambassador?</span></div>
							<div class="panel">
								<div class="inner_panel">
									<p><span>There will be a single round to the application process: Passing the first set of qualifications. Once you’ve applied when our applications open up and you have been emailed that you’ve passed, you’re in! To be considered into the program, we will be asking a series of questions:</span></p>
									<ul>
										<li><span>Are you following MD Glam’s Instagram, Tik Tok, Twitter, Facebook etc. accounts?</span></li>
										<li><span>Have you made a purchase with us before? </span></li>
										<li><span>How consistently are you engaging with MD Glam on social media?</span></li>
										<li><span>Have you mentioned or posted MD Glam about our brand or message on your personal social media account before?</span></li>
										<li><span>Do you have a personal brand you are building and an Instagram program that demonstrates this?</span></li>
										<li><span>How much does your own personal brand connect with the message of empowerment, confidence, and personal growth?</span></li>
										<li><span>Is your social media account public?</span></li>
										<li><span>How much do you engage with your audience on your social media accounts?</span></li>
										<li><span>Do you network with other people/brands?</span></li>
										<li><span >Are you a brand ambassador for another beauty and cosmetic brand?</span></li>
									</ul>
								</div>
							</div>
						</div>


						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >What are the benefits of becoming a MD Glam Squad Ambassador?</span></div>
							<div class="panel">
								<div class="inner_panel">
									<ul>
										<li><span>Gaining connection to meet new &amp; like-minded people with similar beauty goals as yourself</span></li>
										<li><span>An Opportunity for you to meet and work closely with us</span></li>
										<li><span>An Opportunity to earn extra cash (10% commission per sale)</span></li>
										<li><span>Discounts/Personalized promo code</span></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >What happens if you want to opt out of the MD Glam Squad Program?</span></div>
							<div class="panel">
								<div class="inner_panel">
									<p><span>You can opt out of the MD Glam Squad program at any time after one full month of completed requirements. There is no contract for this program. We only ask that you email us and let us know that you'd like to opt out so we are aware. </span></p>
								</div>
							</div>
						</div>

						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >Is there a possibility to be removed from MD Glam’s Squad Ambassador program?</span></div>
							<div class="panel">
								<div class="inner_panel">
									<p><span>Unfortunately, yes! We have certain requirements for our MD Glam Squad Ambassadors that we expect to be met. The following points are reasons to be removed from our Ambassador program. </span></p>
									<ul>
										<li><span>Going against what we stand for as a brand</span></li>
										<li><span>Consistent lack of engagement on your social media platforms in helping us promote our brand and message.</span></li>
										<li><span>Inconsistency in helping us to support others within the MD Glam community on IG.</span></li>
										<li><span>If for any reason we feel that you have been MIA.</span></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >What happens after the term has ended and I don’t get a letter inviting me to renew my ambassadorship with MD Glam Squad? </span></div>
							<div class="panel">
								<div class="inner_panel">
									<p><span>You will be able to re-apply once we open up ambassador applications again!</span></p>
								</div>
							</div>
						</div>

						<div class="accordion_outer">
							<div class="accordion"><span class="inner_accordion" >Do you have any more questions about the MD Glam Squad program?</span></div>
							<div class="panel">
								<div class="inner_panel">
									<p><span>If so, email us at <b>social@mdglam.com</b><br><br>You will be notified within 7-14 days via email if you have been selected to represent MDG Boss Girl as an ambassador. If you do not get an email after 24 days, unfortunately you have not been selected. We encourage you to reapply after 3 months. </span></p>
								</div>
							</div>
						</div>

						<script>
						var acc = document.getElementsByClassName("accordion");
						var i;

						for (i = 0; i < acc.length; i++) {
						acc[i].addEventListener("click", function() {

						var panel = this.nextElementSibling;
						if (panel.style.maxHeight){
						  panel.style.maxHeight = null;
						  panel.style.paddingBottom = null;
						  this.classList.remove("active");
						} else {
						  let active = document.querySelectorAll(".accordion.active");
						  for(let j = 0; j < active.length; j++){
							active[j].classList.remove("active");
							active[j].nextElementSibling.style.maxHeight = null;
							active[j].nextElementSibling.style.paddingBottom = null;
						  }
						  this.classList.toggle("active");
						  panel.style.maxHeight = panel.scrollHeight+20 + "px";
						  panel.style.paddingBottom = "20px";
						}
						});
						}
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
	@media (min-width: 1025px){
		.shopify_section7 .title_container h3{				
			height: 124px;
			left: 64px;
			top: 901px;
			/* Desktop/Spectral/H3 */
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 56px;
			line-height: 110%;
			/* or 62px */
			/* text-transform: capitalize; */
			color: #000000;
		}
		
		.shopify_section7 .inner_container h3{
			height: 22px;
			/* Desktop/Spectral/H7 */
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 18px;
			line-height: 120%;
			/* identical to box height, or 22px */
			/* text-transform: capitalize; */
			color: #000000;
			/* Inside auto layout */
			flex: none;
			order: 0;
			flex-grow: 0;
			margin-top: 19px;
		}
		
		.shopify_section7 .inner_container p{
			height: 42px;
			/* Desktop/Proxima Nova/Body 2/16 light */
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 130%;
			/* or 21px */
			/* Black */
			color: #000000;
			/* Inside auto layout */
			flex: none;
			order: 1;
			flex-grow: 0;
			margin-top: 21px;
			margin-bottom: 46px;
			height: 100%;
		}
		
		.shopify_section7 .row_container{
			display: grid;
			/* grid-template-columns: auto auto auto auto;	*/
			grid-template-columns: repeat(4, calc(100% / 4));
			grid-gap: 20px;
			margin-top: 40px;
			padding-right: 60px;
		}
		
		.shopify_section7 .single_container{
			text-align: left;
		}
		
		.shopify_section7 .image_container img{
			/* max-width: 100%;
			max-height: 100%; 
			height: 309px;*/
		}
		
		.shopify_section7 .featured-content--root{
			 margin-top: 134px !important;
			 padding-top: 0 !important;
		}
	}
	</style>
	<style>
	@media (max-width: 767px){
		.shopify_section7 .title_container h3{				
			width: 343px;
			height: 108px;
			left: 16px;
			top: 7159px;
			/* Mobile/Spectral/H3 */
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 30px;
			line-height: 120%;
			/* or 36px */
			/* text-transform: capitalize; */
			/* Black */
			color: #000000;
		}
		
		.shopify_section7 .inner_container h3{
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 12px;
			line-height: 120%;
			/* identical to box height, or 17px */
			/* text-transform: capitalize; */
			color: #000000;
			/* Inside auto layout */
			flex: none;
			order: 0;
			flex-grow: 0;
			margin-top: 11px;
		}
		
		.shopify_section7 .inner_container p{
			height: 54px;
			/* Mobile/Proxima Nova/Caption/14 light */
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			font-weight: 300;
			font-size: 12px;
			line-height: 130%;
			/* or 18px */
			/* Black */
			color: #000000;
			/* Inside auto layout */
			flex: none;
			order: 1;
			flex-grow: 0;
			margin-top: 11px;
			margin-bottom: -2px;
			height: 100%;
		}
		
		.shopify_section7 .row_container{
			display: grid;
			grid-template-columns: auto auto;				
			grid-gap: 16px;
			margin-top: 16px;
		}
		
		.shopify_section7 .single_container{
			text-align: left;
		}
		
		.shopify_section7 .image_container img{
			/* max-width: 100%;
			max-height: 100%; */
			height: 174px;
		}
		
		.shopify_section7 .featured-content--root{
			 margin-top: 107px !important;
			 padding-top: 0 !important;
		}
	}
	</style>
	<div id="shopify-section-template--ambassador_Content7" class="shopify-section shopify_section7 shopify-section-ambassador" style="clear: both;">
		<div class="image-with-text--root" data-section-id="template--ambassador_Content3">
			<div class="featured-content--root" data-background-color="light" data-banner-promo="" data-box-around-text="false" data-container-width="5" data-cover-image="true" data-cover-image-mobile="true" data-dark-background="false" data-darken-image="false" data-image-height="1" data-mobile-overlay="false" data-overlap="false" data-promo-width="" data-spacing-above="true" data-spacing-below="true" data-text-color="auto" data-text-exists="true" data-text-position="right" data-text-width="medium" data-placeholder-image="false">
				<div class="featured-content--container1" >
					<div class="title_container" >
						<h3><span>Meet Our #MDGBOSSGIRL Ambassadors</span></h3>							
					</div>
					<div class="row_container" >
						
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0280/0035/4364/t/35/assets/cheryl-1645426590400_1200x.png?v=1645426594"></div>
								<h3><span>@cherlytempless</span></h3>
								<p><span>“I’m in LOVE with the Day Moisturizer! This product is heaven sent!”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0280/0035/4364/t/35/assets/kadija-1645425987607_1200x.png?v=1645425992"></div>
								<h3><span>@khkiddo</span></h3>
								<p><span>“My skin always feels so silky and smooth when I use my MD GLAM products.”&nbsp;</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0280/0035/4364/t/35/assets/wei-1645426009736_1200x.png?v=1645426013" ></div>
								<h3><span>@goingmywei</span></h3>
								<p><span >“Their Ultimate Anti-Aging Kit is all I need for my dry skin! Simple and effective.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0280/0035/4364/t/35/assets/natasha-1645426034724_1200x.png?v=1645426039"></div>
								<h3><span>@skincarewithtash</span></h3>
								<p><span>“MD GLAM products always make me feel like I’m at the spa getting pampered.”</span></p>
							</div>
						</div>							
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0280/0035/4364/t/35/assets/zamura-1645426630064_1200x.png?v=1645426635" ></div>
								<h3><span>@enlightened_z</span></h3>
								<p><span>“My skin feels so much more hydrated and my complexion looks glowy. I love my MD GLAM products!”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0280/0035/4364/t/35/assets/untitled-design6-1645008898767_1200x.png?v=1645008902" ></div>
								<h3><span>@juliana_m_leite</span></h3>
								<p><span>“My guilt-free self-care always starts with MD GLAM because it has everything I need for daily anti-aging skin care! I’m OBSESSED!”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0280/0035/4364/t/35/assets/kaleigh-1645426672194_1200x.png?v=1645426677" ></div>
								<h3><span>@medmarielle</span></h3>
								<p><span>“MD Glam saved my skin! I love these products. Makes me feel like I am at the spa when I use them.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0280/0035/4364/t/35/assets/untitled-design22-1645180917531_1200x.png?v=1645180928" ></div>
								<h3><span>@drhodgsonortho</span></h3>
								<p><span>“I’ve tried so many skincare products and MD GLAM is by far the best I’ve ever used!”</span></p>
							</div>
						</div>
						
						
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/dr.audreyxsue.png?v=1663195419" ></div>
								<h3><span>@dr.audreyxsue</span></h3>
								<p><span>“One thing I learned in my 30’s is that it’s SO important to invest in your skin and use quality products. I recently tried out MD GLAM products and they are absolutely AMAZING.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/chareesbeauty.png?v=1663195419" ></div>
								<h3><span>@chareesbeauty</span></h3>
								<p><span>“My skin feels so much more moisturized these days & I feel like my complexion has become much more brighter and smoother.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/eva.pepaj_83a0595c-932b-4a70-a623-0d90ea1055c1.png?v=1663195419" ></div>
								<h3><span>@eva.pepaj</span></h3>
								<p><span>“I’m absolutely OBSESSED with the anti-aging kit. I will be using these products for a very long time. My skin feels clear, dewy, and brighter and I love the way the products smell.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/mayabar_d823b7c9-31df-4164-b156-67e903f37328.png?v=1663195419" ></div>
								<h3><span>@mayabar</span></h3>
								<p><span>“I have very dry and sensitive skin, so I’m always on the lookout for a moisturizer that leaves my skin hydrated and does not irritate it. I’m so glad that I tried this Day Moisturizer from MD Glam. I’ve noticed that my skin now looks more healthy and radiant than it ever has.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/ashleybarghoutian_9fe0fdfd-e677-4698-9cfc-2f097c20d8a2.png?v=1663195419" ></div>
								<h3><span>@ashleybarghoutian</span></h3>
								<p><span>“LOVE LOVE LOVE this kit! My skin is literally glowing!!! This kit has helped me get rid of small bumps, pore size appearance, and the fine lines on my face are slowly smothening out.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/sarah_wolak_001ee926-be5f-4983-ad28-5dc9d6c595f3.png?v=1663195419" ></div>
								<h3><span>@sarah_wolak</span></h3>
								<p><span>“If you guys want the perfect moisturizer to go under your makeup… you need this product!!! It’s super hydrating without feeling heavy on the skin. It gives me the most beautiful glow that shines through my makeup! 10/10 recommend!!!!”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/patriciasanpedro_ffefe528-57bd-4e7b-b8cc-3b884914bf79.png?v=1663195419" ></div>
								<h3><span>@patriciasanpedro</span></h3>
								<p><span>“I love the texture of this retinol eye serum, it is gentle around my delicate eye area and have been using it 4-5 times a week. Definitely feel a rejuvenated difference and love that I am preventing premature wrinkling around this area confidently. LOVE the vitamin C addition to this, hydrating and non-irritating.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/glowabloom_6e5b3e6b-f512-4e32-bb6c-ab6ab0d63865.png?v=1663195420" ></div>
								<h3><span>@glowabloom</span></h3>
								<p><span>“I have been absolutely love the DMAE Antioxidant Day Moisturizer which is rich in antioxidants and contains vitamin C and E. The texture is a whipped cream and despite being nourishing, it does not feel heavy on skin.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/iomakeupofficial.png?v=1663195419" ></div>
								<h3><span>@iomakeupofficial</span></h3>
								<p><span>“I’m in love with MD GLAM! Their DMAE Antioxidant is my favorite because I can use it as my primer for makeup without feeling greasy or heavy.”</span></p>
							</div>
						</div>
						<div class="single_container" >
							<div class="inner_container" >
								<div class="image_container" ><img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/catherineabreur-2.png?v=1663195419" ></div>
								<h3><span>@catherineabreur</span></h3>
								<p><span>“I absolutely love this moisturizer. It’s very nourishing yet lightweight, doesn’t feel greasy or sticky. My skin feels so soft and hydrated and the scent is lovely. Works perfectly under makeup! Loving my skin right now.”</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<script>
		jQuery(document).ready(function(){
			jQuery('.next_button').click(function(){
				// alert('aaaaaaaaa');
				var currentNextStep = parseInt(jQuery('.work_steps.active').attr('data-step'));
				var currentNextStepPlus = parseInt(currentNextStep)+1;
				// alert(currentNextStepPlus);
				jQuery('.how_it_works_step'+currentNextStep).hide();
				jQuery('.how_it_works_step'+currentNextStep).removeClass('active');
				jQuery('.how_it_works_step'+currentNextStepPlus).show();
				jQuery('.how_it_works_step'+currentNextStepPlus).addClass('active');
				if(currentNextStepPlus == '4'){
					jQuery('.next_button').hide();
				}else{
					jQuery('.next_button').show();
				}
				if(currentNextStepPlus >= '2'){
					jQuery('.pre_button').show();
				}else{
					jQuery('.pre_button').hide();
				}
			});
			jQuery('.pre_button').click(function(){
				var currentPreStep =  parseInt(jQuery('.work_steps.active').attr('data-step'));
				var currentPreStepMinus = parseInt(currentPreStep)-1;
				// alert(currentPreStepMinus);
				jQuery('.how_it_works_step'+currentPreStep).hide();
				jQuery('.how_it_works_step'+currentPreStep).removeClass('active');
				jQuery('.how_it_works_step'+currentPreStepMinus).show();
				jQuery('.how_it_works_step'+currentPreStepMinus).addClass('active');
				if(currentPreStepMinus == '1'){
					jQuery('.pre_button').hide();
				}else{
					jQuery('.pre_button').show();
				}
				if(currentPreStepMinus <= '3'){
					jQuery('.next_button').show();
				}else{
					jQuery('.next_button').hide();
				}
			});
		});
		</script>
			<style>		
			/* --MOBILE-- */ 
			@media (max-width: 767px) {		
				.breadcrumbs--root li:not(:last-of-type):after {
					margin: 0 4px;
					content: "/";
				}
				.breadcrumbs--root li, .breadcrumbs--root li a{
					/* Product */
					
					height: 13px;

					/* Mobile/Proxima Nova/. Caption 2/10 regular */
					font-family: 'Proxima Nova';
					font-style: normal;
					font-weight: 400;
					font-size: 10px;
					line-height: 130%;
					/* identical to box height, or 13px */
					letter-spacing: 0.04em;
					/* text-transform: capitalize; */

					/* Gray */
					color: #515151;
					
					/* Inside auto layout */
					flex: none;
					order: 0;
					flex-grow: 0;
				}
				
				.featured-content--text{
					max-width: 500px !important;
				}	
				
				.shopify-section.shopify-section-ambassador .custom-text{
					margin-top: 24px;
				}	
				
				.shopify-section-steps-heading .custom-text{
					margin-top: 24px;
				}
				
				.featured-text--root{
					margin: 0px auto;
				}
				.step_subheading{
					position: relative;
				}
				.stepCount{
					position: absolute;
					font-family: 'Proxima Nova';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 130%;
					
					/* identical to box height, or 16px */
					letter-spacing: 0.04em;
					/* text-transform: capitalize; */
					
					/* Black */
					color: #000000;		
					top: -15px;
					left: -15px;
				}
				.nextpreButton .pre_button{
					float: left;
				}
				.nextpreButton .next_button{
					float: right;
				}
				.uniButton{		
					width: 164px;
					height: 48px;
					font-family: Proxima Nova;
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 100%;
					text-align: center;
					letter-spacing: .04em;
					/* text-transform: capitalize; */
					color: #000;
					background: #f7edec00;
					border-radius: 120px/20px;
					border: 1px solid;
				}
				.uniButton:hover, .uniButton:visited{
					color: #ffffff;
					background: #000000;		
				}
				
				.breadcrumbs--root{
					font-size: 10px;
				}
				.featured-text--heading.featured-text--heading-ambassador{
					width: 343px;
					height: 46px;
					left: 16px;
					top: 159px;

					/* Mobile/Spectral/H1 */

					font-family: 'Spectral';
					font-style: normal;
					font-weight: 275;
					font-size: 42px;
					line-height: 110%;
					/* or 46px */

					/* text-transform: capitalize; */

					/* Black */

					color: #000000;
					
					/* letter-spacing : unset !important; */
					letter-spacing: -0.6px  !important;
				}
				#shopify-section-template--ambassador_title .featured-text--body{
					width: 344px;
					height: 84px;
					left: 16px;
					top: 4010px;

					/* Desktop/Proxima Nova/Body 2/16 light */

					font-family: 'Proxima Nova';
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 130%;
					/* or 21px */


					/* Black */

					color: #000000;
				}

				.step-button-inner{
					text-align: center;
				}
				.featured-text--heading-ambassador img{
					width: 44px;
					height: 40px;
					top: 190px;
					position: absolute;
					right: 7px;
				}
				.step-button {
					/* background: #f167b8 !important; */
					color: #000000 !important;
				}

				
				
				.et_pb_button_module_wrapper {
					/* border: 6px solid #272727; */
					border-radius: 50%;
					display: flex;
					background: #fff;
					/* margin: 0 auto; */		
					font-weight: 500;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					font-size: 16px;
					color: #272727;
				}
					body{
						line-height : unset;
					}
					.featured-content--container{
						padding-left: 0px !important;
					}
					.featured-content--root{
						padding: 0;
					}
					.featured-text--body{
						max-width: 691px;
					}
					.shopify-section-ambassador{
						padding: 0 16px;
					}
					
					
					.layout--main-content{
						margin-top: 16px;
					} 
					/*
					#shopify-section-template--ambassador_title{
						margin-top: 35px;
					}
					*/
					.shopify-section-main-title{
						margin-top: 35px;
					}
					.shopify-section-main-title .featured-text--body{
						margin-top: 51px;
					}
					.shopify-section-steps-heading{
						margin-top: 88px;
					}
					.shopify-section-template--ambassador_title{
						margin-top: 42px;
					}
					
					
					
					
					/*image text section mobile*/
					/* section 1 mobile */
					
					.shopify_section1 .featured-content--image{
						order: 2 !important;
					}
					
					.shopify_section1 .featured-content--text{
						order: 1 !important;
					}
					
					.shopify_section1 .image-with-text--root .featured-content--root{
						padding-top: 86px;
					}
					.shopify_section1 .featured-content--text-container h4.featured-content--overline
					{
						/* width: 343px; */
						width : 100%;
						height: 72px;
						left: 17px;
						top: 398px;

						/* Mobile/Spectral/H3 */

						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 30px;
						line-height: 120%;
						/* or 36px */

						/* text-transform: capitalize; */

						/* Black */

						color: #000000;
						text-align: left !important;
					}
					.shopify_section1 .featured-content--text-container .featured-content--description{
						/* width: 344px; */
						width: 100%;
						/* height: 126px; */
						left: 16px;
						top: 486px;

						/* Desktop/Proxima Nova/Body 2/16 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */
						color: #000000;
						text-align: left !important;
                        margin-top: 0 !important;
					}
					
					.shopify_section1 .featured-content--image{
						width: 344px !important;
						height: 342px !important;
						margin-top: 21px;
					}
					.shopify_section1 .featured-content--text-container {
						gap: 24px;
					}
					.shopify_section1 .featured-content--image img{
						width: 344px !important;
						height: 342px !important;
					}
					
					/* Section 2 mobile */
					
					.shopify_section2 .featured-content--image{
						order: 2 !important;
					}				
					.shopify_section2 .featured-content--text{
						order: 1 !important;
					}
					.shopify_section2 .image--container.section2img img{
						width: 344px;
						height: 482px;
					}
					.shopify_section2 h4.featured-content--overline{		
						/* width: 343px;*/
						width:100%;
						height: 36px;
						left: 16px;
						top: 1050px;

						/* Mobile/Spectral/H3 */

						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 30px;
						line-height: 120%;
						/* identical to box height, or 36px */

						/* text-transform: capitalize; */

						/* Black */

						color: #000000;
						text-align: left;
					}
					.shopify_section2 .featured-content--description{
						margin-top: 36px !important;
					}
					
					.shopify_section2 .featured-content--description p{
					
						/* Desktop/Proxima Nova/Body 2/16 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */


						/* Black */

						color: #000000;
						text-align: left;
						padding-bottom: 16px;
					}
					
					.shopify_section2 .featured-content--root{
						padding-top: 40px;
					}
					.shopify_section2 .featured-content--container{
						justify-content: unset !important;
						text-align: center;
					}
					.shopify_section2 .featured-content--image{
						width: 344px !important;
						height: 482px !important;
						margin-top: 28px;
					}
					.shopify_section2 .joinNowBtn{
                      display:none;
                    }
					/* Section 3 mobile */
					
					.shopify_section3 .featured-content--image{
						order: 2 !important;
					}				
					.shopify_section3 .featured-content--text{
						order: 1 !important;
					}
					
					.shopify_section3 h3.featured-content--overline{
						/* width: 343px; */
						width: 100%;
						height: 36px;
						left: 16px;
						top: 1960px;

						/* Mobile/Spectral/H3 */

						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 30px;
						line-height: 120%;
						/* identical to box height, or 36px */

						/* text-transform: capitalize; */

						/* Black */

						color: #000000;
						text-align: left;
						letter-spacing: unset !important;
					}
					
					.shopify_section3 .image--container{
						width: 344px;
						height: 366.14px;
						padding: 10%;
						background: linear-gradient(196.17deg, #ECA29B -62.59%, #FFFFFF 133.3%);
					}
					.shopify_section3 .image--container img{
						width: 162px;
						height: 288px;
						margin: 0px auto;
						position: unset;
					}
					.shopify_section3 .featured-content--image{					
						height: 100% !important;
						min-width: 43% !important;
						margin-top: 40px;
					}
					.shopify_section3 .featured-content--text{
						margin-right: 0px !important;
					}
					
					.shopify_section3 .featured-content--text {
						max-width: unset !important;
						text-align :left;
					}	
							
					.shopify_section3 .subHeading_ambassador1{	
						margin-top: 35px;
					}	
					.shopify_section3 .featured-content--root{	
						padding-top: 40px;
					}	
							
					.shopify_section3 .subHeading_ambassador2{	
						margin-top: 35px;
					}
					.subHeading_ambassador3{	
						margin-top: 40px;
					}	
					.shopify_section3 .subHeading_main_text{					
						/* Desktop/Proxima Nova/Subtitle/24 regular */
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 400;
						font-size: 24px;
						line-height: 130%;
						/* or 31px */
						/* Black */
						color: #000000;
					}
					.shopify_section3 .inner-content .featured-content--description p {		
						margin-left: 60px;
					}
					
					.shopify_section3 .featured-content--description1{
						margin-top: 18px;
					}
					.shopify_section3 .featured-content--description2{
						margin-top: 11px;
					}
					.shopify_section3 .featured-content--description3{
						margin-top: 15px;
					}
					.shopify_section3 .inner-content .featured-content--description{		
						

						/* Desktop/Proxima Nova/Body/18 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */


						color: #000000;
					}
					.shopify_section3 .inner-content{
						/*
						width: 65%;
						margin: 0px auto;
						*/
					}
					
					.shopify_section3 .subHeading_ambassador1 {
						/* width: 48px; 
						height: 26.81px; */
					}
					
					.shopify_section3 .subHeading_ambassador1 .innerImgText{
						position: absolute;
						width: 22px;
						height: 15.76px;
						left: 22px;
						top: 0;
						font-family: 'Roboto';
						font-style: normal;
						font-weight: 600;
						font-size: 12.6205px;
						line-height: 130%;
						color: #000000;
						transform: rotate(-15deg);
					}
					
					
					/* Section 4 mobile */
					
					.shopify_section4 .featured-content--image{
						width: 344px;
						height: 344px !important;
						margin-top: 23px;
					}
					.shopify_section4 .featured-content--image img{
						width: 344px !important;
						height: 344px !important;
					}
					.shopify_section4 .featured-content--overline{
						display: none;
					}
					.shopify_section4 .featured-content--root{
						padding: 0;
						padding-top: 56px !important;
					}
					.shopify_section4 .Mobile-heading{
						
						width: 100%;
						height: 72px;
						left: 16px;
						top: 2887px;

						/* Mobile/Spectral/H3 */

						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 30px;
						line-height: 120%;
						/* or 36px */

						/* text-transform: capitalize; */

						/* Black */

						color: #000000;
					}
					
					.shopify_section4 .step-button-inner h3{
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 11.57px;
						line-height: 130%;
						/* or 23px */

						/* text-transform: capitalize; */

						/* Black */

						color: #000000;
					}
					
					.shopify_section4 .step-button-inner h3 span{
						font-size: 45px;
					}
					.shopify_section4 .step-button-inner{
						margin-top: 20px;
					}
					.shopify_section4 .featured-content--container{
						overflow: visible !important;
					}
					
					.shopify_section4 .step-button-inner .featured-content--description{
						margin-top: 10px !important;
						width: 170px;
					}
					.shopify_section4 .step-button-inner .featured-content--description p{
						font-family: 'Proxima Nova Lt';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */


						color: #000000;
					}
					.shopify_section4 .featured-content--text .featured-content--text-container{
						width: 344px;
						height: 100%;
					}
					
					.et_pb_button_module_wrapper.step1{
						width: 180px;
						height: 180px;
						margin-top: 14px;
					}
					.et_pb_button_module_wrapper.step2{
						width: 185px;
						height: 185px;
						margin-left: 160px;
						margin-top: -31px;
					}
					.et_pb_button_module_wrapper.step3{
						width: 190px;
						height: 190px;
						margin-top: -1px;
					}
					
					/* section 5 mobile */
					
					.shopify_section5{
						margin-top: 44px;
					}
					.shopify_section5 .featured-content--root{
						padding-top: 0;
					}
					.shopify-section-steps-heading .featured-text--heading{
						width: 100%;
						height: 36px;
						left: 16px;
						top: 3958px;

						/* Mobile/Spectral/H3 */

						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 30px;
						line-height: 120%;
						/* identical to box height, or 36px */

						/* text-transform: capitalize; */

						/* Black */

						color: #000000;
					}
					.shopify-section-steps-heading .custom-text{
						margin-top: 16px;
					}
					.shopify-section-steps-heading .featured-text--body{
						width: 344px;
						height: 84px;
						left: 16px;
						top: 4010px;

						/* Desktop/Proxima Nova/Body 2/16 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */


						/* Black */

						color: #000000;
					}
					
					.shopify_section5 .featured-content--text{
						order: 1 !important;
					}				
					.shopify_section5 .featured-content--image{
						order: 2;
					}
					.shopify_section5 .featured-content--image{
						width: 344px !important;
						height: 240px !important;
						margin-top: 16px;
					}
					
					.shopify_section5 .step_subheading{
						
						

						/* Desktop/Proxima Nova/Body/18 regular */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */


						/* Black */

						color: #000000;
						text-align: left;
					}
					
					.shopify_section5 .step-description{
						width: 328px;
						
						left: 16px;
						top: 49px;

						/* Desktop/Proxima Nova/Body 2/16 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */


						color: #000000;
						text-align: left;
					}
					
					.how_it_works_step1 .featured-content--text{
						margin-left: 16px;
						/* margin-top:  12px; */
						padding-top: 18px !important;
					}
					
					.how_it_works_step2 .featured-content--text{
						margin-left: 16px;
						/* margin-top:  12px; */
						padding-top: 18px !important;
					}
					
					.how_it_works_step3 .featured-content--text{
						margin-left: 16px;
						/* margin-top:  12px; */
						padding-top: 18px !important;
					}
					
					.how_it_works_step4 .featured-content--text{
						margin-left: 16px;
						/* margin-top:  12px; */
						padding-top: 18px !important;	
					}
					
					.shopify_section5 .featured-content--container{
						align-items: unset !important;
					}
					
					/*image text section*/
				}
				

			/* --IPAD-- */
			@media (min-width: 768px) and (max-width: 1024px) {
				.featured-content--container{
					width: 1219px;
					
				}
				.shopify-section.shopify-section-ambassador .custom-text{
					margin-top: 22px;
				}
				.featured-content--text{
					max-width: 500px !important;
					margin-right: 18px !important;
				}
				
				
				.featured-text--root{
					width: 1219px;
					margin: 0px auto;
				}
				.step_subheading{
					position: relative;
				}
				.stepCount{
					position: absolute;
					font-family: 'Proxima Nova';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 130%;
					
					/* identical to box height, or 16px */
					letter-spacing: 0.04em;
					/* text-transform: capitalize; */
					
					/* Black */
					color: #000000;		
					top: -10px;
					left: -15px;
				}
				.nextpreButton .pre_button{
					float: left;
				}
				.nextpreButton .next_button{
					float: right;
				}
				.uniButton{		
					width: 202px;
					height: 60px;
					font-family: Proxima Nova;
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 100%;
					text-align: center;
					letter-spacing: .04em;
					/* text-transform: capitalize; */
					color: #000;
					background: #f7edec00;
					border-radius: 120px/20px;
					border: 1px solid;
				}
				.uniButton:hover, .uniButton:visited{
					color: #ffffff;
					background: #000000;		
				}
				
				.breadcrumbs--root{
					font-size: 10px;
				}
				.featured-text--heading.featured-text--heading-ambassador{
					margin: 0;
					text-align: left;
					height: 121px;
					left: 64px;
					top: 191px;
					font-family: 'Spectral';
					font-style: normal;
					font-weight: 275;
					font-size: 110px;
					line-height: 110%;
					/* text-transform: capitalize; */
					color: #000000;
				}
				#shopify-section-template--ambassador_title .featured-text--body{
					width: 691px;
					height: 93px;
					left: 64px;
					top: 328px;
					font-family: 'Proxima Nova';
					font-style: normal;
					font-weight: 300;
					font-size: 24px;
					line-height: 130%;
					color: #000000;
				}

				.step-button-inner{
					text-align: center;
				}
				.featured-text--heading-ambassador img{
					width: 75px;
					height: 69px;
					top: 166px;
					position: absolute;
				}
				.step-button {
					/* background: #f167b8 !important; */
					color: #000000 !important;
				}

				.et_pb_button_module_wrapper.step1{
					width: 202px;
					height: 202px;
				}
				.et_pb_button_module_wrapper.step2{
					width: 236px;
					height: 236px;
				}
				.et_pb_button_module_wrapper.step3{
					width: 218px;
					height: 218px;
				}
				
				.et_pb_button_module_wrapper {
					/* border: 6px solid #272727; */
					border-radius: 50%;
					display: flex;
					background: #fff;
					/* margin: 0 auto; */		
					font-weight: 500;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					font-size: 16px;
					color: #272727;
				}
					body{
						line-height : unset;
					}
					.featured-content--container{
						padding-left: 0px !important;
					}
					.featured-content--root{
						padding: 0;
					}
					.featured-text--body{
						max-width: 691px;
					}
					.shopify-section-ambassador{
						padding: 0 40px;
					}
					
					
					.layout--main-content{
						margin-top: 13px;
					}
					#shopify-section-template--ambassador_title{
						margin-top:42px;
					}
					.shopify-section-template--ambassador_title{
						margin-top: 42px;
					}
					
					
					
					
					/*image text section IPAD */
					
					/* -- section 1 IPAD -- */
					
					.shopify_section1 .featured-content--text-container{
						margin-left: 20px;
					}
					.shopify_section1 .image-with-text--root .featured-content--root{
						padding-top: 86px;
					}
					.shopify_section1 .featured-content--text-container h4.featured-content--overline
					{
						width: 313px;
						height: 102px;						
						top: 652px;

						/* Desktop/Spectral/H4 */
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 46px;
						line-height: 110%;
						/* or 51px */

						/* text-transform: capitalize; */
						color: #000000;
						/* margin-left: 100px; */
					}
					.shopify_section1 .featured-content--text-container .featured-content--description{
						width: 424px;
						height: 115px;
						
						top: 794px;

						/* Desktop/Proxima Nova/Body/18 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */

						color: #000000;
						/* margin-left: 100px; */
						margin-top: 40px;
					}
					
					.shopify_section1 .featured-content--image{
						width: 606px !important;
						height: 613px !important;
					}
					.shopify_section1 .featured-content--image img{
						width: 606px !important;
						height: 613px !important;
					}
					
					
					/* --Section 2 IPAD -- */
					
					.shopify_section2 .image--container.section2img img{
						width: 535px;
						height: 750px;
					}
					.shopify_section2 h4.featured-content--overline{		
						height: 62px;
						
						/* Desktop/Spectral/H3 */
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 56px;
						line-height: 110%;
						/* identical to box height, or 62px */

						/* text-transform: capitalize; */
						color: #000000;
					}
					.shopify_section2 .featured-content--description{
						margin-top: 38px;
					}
					
					.shopify_section2 .featured-content--description p{
						width: 100%;
						/* height: 23px; */
						left: 730px;
						top: 1666px;

						/* Desktop/Proxima Nova/Body/18 regular */
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						/* line-height: 130%; */
						/* or 23px */

						/* Black */
						color: #000000;
						margin-bottom: 16px;
					}
					
					.shopify_section2 .featured-content--root{
						padding-top: 36px;
					}
					.shopify_section2 .featured-content--text{
						margin-left: 20px !important;
					}
					.shopify_section2 .featured-content--container{
						justify-content: unset !important;
						text-align: center;
					}
					.shopify_section2 .featured-content--image{
						width: 646px !important;
						height: 650px !important;
					}
					
					
					/* --Section 3 IPAD -- */
					
					.shopify_section3 .featured-content--root{
						padding-top: 36px;
					}
					
					.shopify_section3 h3.featured-content--overline{
						/* Desktop/Spectral/H3 */
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 56px;
						line-height: 110%;
						/* identical to box height, or 62px */

						/* text-transform: capitalize; */

						color: #000000;
					}
					
					.shopify_section3 .image--container{
						width: 490px;
						/* height: 650px; */
						padding: 10%;
						background: linear-gradient(196.17deg, #ECA29B -62.59%, #FFFFFF 133.3%);
					}
					.shopify_section3 .image--container img{
						width: 305px;
						height: 541px;
						margin: 0px auto;
						position: unset;
					}
					.shopify_section3 .featured-content--image{
						
						height: 650px !important;
						min-width: 43% !important;
					}
					.shopify_section3 .featured-content--text{
						margin-right: 0px !important;
					}
					
					.shopify_section3 .featured-content--text {
						max-width: unset !important;
					}	
							
					.shopify_section3 .subHeading_ambassador1{	
						margin-top: 40px;
					}	
							
					.shopify_section3 .subHeading_ambassador2,.subHeading_ambassador3{	
						margin-top: 32px;
					}	
					.shopify_section3 .subHeading_main_text{
						/* Desktop/Proxima Nova/Subtitle/24 regular */
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 400;
						font-size: 24px;
						line-height: 130%;
						/* or 31px */
						/* Black */
						color: #000000;
					}
					.shopify_section3 .inner-content .featured-content--description p {		
						margin-left: 60px;
					}
					.shopify_section3 .inner-content .featured-content--description{		
						margin-top: 16px;

						/* Desktop/Proxima Nova/Body/18 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */


						color: #000000;
					}
					.shopify_section3 .inner-content{
						width: 65%;
						margin: 0px auto;
					}
					
					.shopify_section3 .subHeading_ambassador1 {
						/* width: 48px; 
						height: 26.81px; */
					}
					
					.shopify_section3 .subHeading_ambassador1 .innerImgText{
						position: absolute;
						width: 22px;
						height: 15.76px;
						left: 22px;
						top: 0;
						font-family: 'Roboto';
						font-style: normal;
						font-weight: 600;
						font-size: 12.6205px;
						line-height: 130%;
						color: #000000;
						transform: rotate(-15deg);
					}
					
					
					/* Section 4 IPAD */
					
					
					.shopify_section4 .featured-content--root{
						padding-top: 36px;
					}
					
					.shopify_section4 .featured-content--image{
						width: 646px;
						height: 650px !important;
					}					
					
					.shopify_section4 .featured-content--image img{
						width: 646px;
						height: 650px;
					}
					
					.shopify_section4 .featured-content--overline{
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 56px;
						line-height: 110%;
						/* or 62px */

						/* text-transform: capitalize; */

						color: #000000;
					}
					
					.shopify_section4 .step-button-inner h3{
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */

						/* text-transform: capitalize; */

						/* Black */

						color: #000000;
					}
					
					.shopify_section4 .step-button-inner h3 span{
						font-size: 50px;
					}
					.shopify_section4 .step-button-inner{
						margin-top: 20px;
					}
					.shopify_section4 .featured-content--container{
						overflow: visible !important;
					}
					
					.shopify_section4 .step-button-inner .featured-content--description{
						margin-top: 10px;
						width: 170px;
					}
					.shopify_section4 .step-button-inner .featured-content--description p{
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */


						color: #000000;
					}
					
					.et_pb_button_module_wrapper.step1{
						width: 202px;
						height: 202px;
						position: absolute;
						left: 15px;
						margin-top: 74px;
					}
					.et_pb_button_module_wrapper.step2{
						width: 236px;
						height: 236px;
						position: absolute;
						left: 260px;
						margin-top: 115px;
					}
					.et_pb_button_module_wrapper.step3{
						width: 218px;
						height: 218px;
						position: absolute;
						left: 65px;
						margin-top: 342px;
					}
					
					
					/* section 5 IPAD */
					
					.shopify-section-steps-heading{
						margin-top: 36px !important;
					}
					
					.shopify_section5  .featured-content--root {
						padding-bottom: 40px;
					}
					.shopify-section-steps-heading .featured-text--heading{
						margin: 0;
						text-align: left; 
						height: 121px; 
						left: 64px; 
						top: 191px; 
						font-family: 'Spectral'; 
						font-style: normal; 
						font-weight: 275; 
						font-size: 110px; 
						line-height: 110%; 
						/* text-transform: capitalize; */ 
						color: #000000;
					}
					
					.shopify-section-steps-heading. custom-text{
						margin-top: 21px;
					}
					
					.shopify-section-steps-heading .featured-text--body{
						width: 344px;
						height: 84px;
						left: 16px;
						top: 4010px;

						/* Desktop/Proxima Nova/Body 2/16 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */


						/* Black */

						color: #000000;
					}
					.shopify_section5 .featured-content--image{
						width: 646px !important;
						height: 450px !important;
					}
					
					.shopify_section5 .step_subheading{
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 32px;
						line-height: 130%;
						/* identical to box height, or 42px */


						/* Black */

						color: #000000;
					}
					
					.shopify_section5 .step-description{
						/* Desktop/Proxima Nova/Body 2/16 light */
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* identical to box height, or 21px */
						color: #000000;
					}
					
					.shopify_section4 .featured-content--text .featured-content--text-container{
						height: 650px;
					}
					.how_it_works_step1 .featured-content--text{
						/* margin-left: 110px; */
						margin-top: 10px;
					}
					
					.how_it_works_step2 .featured-content--text{
						margin-left: 0;
						margin-top: 10px;
					}
					
					.how_it_works_step3 .featured-content--text{
						margin-top: 10px;
					}
					
					.how_it_works_step4 .featured-content--text{
						margin-top: 10px;
					}
					
					.shopify_section5 .featured-content--container{
						align-items: unset !important;
					}
					
					/*image text section IPAD */
				
			}
			
			/* --DESKTOP-- */
			@media (min-width: 1025px){
				.main-page-container.shopify-main-template--ambassador-page{
					width: 1170px;
					margin: 0px auto;
					margin-bottom: 20px;
				}
                #shopify-section-header{
                	height: 61px;
                }
				.featured-content--container{
					/* width: 1219px; */
					
				}
				.shopify-section.shopify-section-ambassador .custom-text{
					margin-top: 22px;
				}
				.featured-content--text{
					max-width: 500px !important;
				}
				
				
				.featured-text--root{
					/* width: 1219px; */
					margin: 0px auto;
				}
				.step_subheading{
					position: relative;
				}
				.stepCount{
					position: absolute;
					font-family: 'Proxima Nova';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 130%;
					
					/* identical to box height, or 16px */
					letter-spacing: 0.04em;
					/* text-transform: capitalize; */
					
					/* Black */
					color: #000000;		
					/* top: -10px; */
					left: -15px;
				}
				.nextpreButton .pre_button{
					float: left;
				}
				.nextpreButton .next_button{
					float: right;
				}
				.uniButton{		
					width: 202px;
					height: 60px;
					font-family: Proxima Nova;
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 100%;
					text-align: center;
					letter-spacing: .04em;
					/* text-transform: capitalize; */
					color: #000;
					background: #f7edec00;
					border-radius: 120px/20px;
					border: 1px solid;
				}
				.uniButton:hover, .uniButton:visited{
					color: #ffffff;
					background: #000000;		
				}
				
				.breadcrumbs--root{
					font-size: 10px;
				}
				.featured-text--heading.featured-text--heading-ambassador{
					margin: 0;
					text-align: left;
					height: 121px;
					left: 64px;
					top: 191px;
					font-family: 'Spectral';
					font-style: normal;
					font-weight: 275;
					font-size: 110px;
					line-height: 110%;
					/* text-transform: capitalize; */
					color: #000000;
				}
				#shopify-section-template--ambassador_title .featured-text--body{
					width: 530px;
					height: 93px;
					left: 64px;
					top: 328px;
					font-family: 'Proxima Nova Lt' !important;
					font-style: normal;
					font-weight: 300;
					font-size: 24px;
					line-height: 130%;
					color: #000000;
				}

				.step-button-inner{
					text-align: center;
				}
				.featured-text--heading-ambassador img{
					width: 75px;
					height: 69px;
					top: 166px;
					position: absolute;
				}
				.step-button {
					/* background: #f167b8 !important; */
					color: #000000 !important;
				}

				.et_pb_button_module_wrapper.step1{
					width: 202px;
					height: 202px;
				}
				.et_pb_button_module_wrapper.step2{
					width: 236px;
					height: 236px;
				}
				.et_pb_button_module_wrapper.step3{
					width: 218px;
					height: 218px;
				}
				
				.et_pb_button_module_wrapper {
					/* border: 6px solid #272727; */
					border-radius: 50%;
					display: flex;
					background: #fff;
					/* margin: 0 auto; */		
					font-weight: 500;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					font-size: 16px;
					color: #272727;
				}
					body{
						line-height : unset;
					}
					.featured-content--container{
						padding-left: 0px !important;
					}
					.featured-content--root{
						padding: 0;
					}
					.featured-text--body{
						max-width: 691px;
					}
					.shopify-section-ambassador{
						/* padding: 0 65px 0 65px; */
					}
					
					
					.layout--main-content{
						margin-top: 13px;
					}
					#shopify-section-template--ambassador_title{
						margin-top:42px;
					}
					.shopify-section-template--ambassador_title{
						margin-top: 42px;
					}
					
					
					
					
					/*image text section desktop */
					
					/* --section 1 desktop-- */
					
					.shopify_section1 .featured-content--text-container{
						margin-left: 50px;
					}
					.shopify_section1 .image-with-text--root .featured-content--root{
						padding-top: 86px;
					}
					.shopify_section1 .featured-content--text-container h4.featured-content--overline
					{
						/* width: 313px; */
						height: 102px;
						
						top: 652px;

						/* Desktop/Spectral/H4 */

						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 46px;
						line-height: 110%;
						/* or 51px */

						/* text-transform: capitalize; */
						color: #000000;
						/* margin-left: 100px; */
					}
					.shopify_section1 .featured-content--text-container .featured-content--description{
						width: 424px;
						height: 115px;
						
						top: 794px;

						/* Desktop/Proxima Nova/Body/18 light */

						font-family: 'Proxima Nova Lt' !important;
						font-style: normal;
						font-weight: 300;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */

						color: #000000;
						/* margin-left: 100px; */
						margin-top: 40px;
					}
					
					.shopify_section1 .featured-content--image{
						width: 646px !important;
						height: 650px !important;
					}
					.shopify_section1 .featured-content--image img{
						width: 646px !important;
						height: 650px !important;
					}
					
					
					/* --Section 2 desktop-- */
					
					.shopify_section2 .image--container.section2img img{
						width: 535px;
						height: 750px;
					}
					.shopify_section2 h4.featured-content--overline{		
						height: 62px;
						
						/* Desktop/Spectral/H3 */
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 56px;
						line-height: 110%;
						/* identical to box height, or 62px */

						/* text-transform: capitalize; */
						color: #000000;
					}
					.shopify_section2 .featured-content--description{
						margin-top: 38px !important;
					}
					
					.shopify_section2 .featured-content--description p{
						width: 586px;
						height: 23px;
						left: 730px;
						top: 1666px;

						/* Desktop/Proxima Nova/Body/18 regular */
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */

						/* Black */
						color: #000000;
						margin-bottom: 16px;
					}
					
					.shopify_section2 .featured-content--root{
						padding-top: 36px;
					}
					.shopify_section2 .featured-content--text{
						margin-left: 20px !important;
					}
					.shopify_section2 .featured-content--container{
						justify-content: unset !important;
						text-align: center;
					}
					.shopify_section2 .featured-content--image{
						width: 646px !important;
						height: 650px !important;
                        background: unset !important;
					}
                    .shopify_section2 .joinNowBtn{
                      margin-top: 27px;
                    }
					
					
					/* --Section 3 desktop-- */
					
					.shopify_section3 .featured-content--root{
						padding-top: 36px;
					}
					
					.shopify_section3 h3.featured-content--overline{
						/* Desktop/Spectral/H3 */
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 56px;
						line-height: 110%;
						/* identical to box height, or 62px */

						/* text-transform: capitalize; */

						color: #000000;
					}
					
					.shopify_section3 .image--container{
						width: 641px;
						height: 650px;
						padding: 10%;
						background: linear-gradient(196.17deg, #ECA29B -62.59%, #FFFFFF 133.3%);
					}
					.shopify_section3 .image--container img{
						width: 305px;
						height: 541px;
						margin: 0px auto;
						position: unset;
					}
					.shopify_section3 .featured-content--image{
						
						height: 650px !important;
						min-width: 43% !important;
					}
					.shopify_section3 .featured-content--text{
						margin-right: 0px !important;
					}
					
					.shopify_section3 .featured-content--text {
						max-width: unset !important;
					}	
							
					.shopify_section3 .subHeading_ambassador1{	
						margin-top: 40px;
					}	
							
					.shopify_section3 .subHeading_ambassador2,.subHeading_ambassador3{	
						margin-top: 32px;
					}	
					.shopify_section3 .subHeading_main_text{
						/* Desktop/Proxima Nova/Subtitle/24 regular */
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 400;
						font-size: 24px;
						line-height: 130%;
						/* or 31px */
						/* Black */
						color: #000000;
					}
					.shopify_section3 .inner-content .featured-content--description p {		
						margin-left: 60px;
                      font-family: 'Proxima Nova Lt' !important;
					}
					.shopify_section3 .inner-content .featured-content--description{		
						margin-top: 16px;

						/* Desktop/Proxima Nova/Body/18 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */


						color: #000000;
					}
					.shopify_section3 .inner-content{
						width: 65%;
						margin: 0px auto;
					}
					
					.shopify_section3 .subHeading_ambassador1 {
						/* width: 48px; 
						height: 26.81px; */
					}
					
					.shopify_section3 .subHeading_ambassador1 .innerImgText{
						position: absolute;
						width: 22px;
						height: 15.76px;
						left: 22px;
						top: 0;
						font-family: 'Roboto';
						font-style: normal;
						font-weight: 600;
						font-size: 12.6205px;
						line-height: 130%;
						color: #000000;
						transform: rotate(-15deg);
					}
					
					
					/* Section 4 desktop */
					
					
					.shopify_section4 .featured-content--root{
						padding-top: 36px;
					}
					
					.shopify_section4 .featured-content--image{
						width: 646px;
						height: 650px !important;
					}					
					
					.shopify_section4 .featured-content--image img{
						width: 646px;
						height: 650px;
					}
					
					.shopify_section4 .featured-content--overline{
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 56px;
						line-height: 110%;
						/* or 62px */

						/* text-transform: capitalize; */

						color: #000000;
					}
					
					.shopify_section4 .step-button-inner h3{
						font-family: 'Spectral';
						font-style: normal;
						font-weight: 275;
						font-size: 18px;
						line-height: 130%;
						/* or 23px */

						/* text-transform: capitalize; */

						/* Black */

						color: #000000;
					}
					
					.shopify_section4 .step-button-inner h3 span{
						font-size: 50px;
					}
					.shopify_section4 .step-button-inner{
						margin-top: 20px;
					}
					.shopify_section4 .featured-content--container{
						overflow: visible !important;
					}
					
					.shopify_section4 .step-button-inner .featured-content--description{
						margin-top: 10px;
						width: 170px;
					}
					.shopify_section4 .step-button-inner .featured-content--description p{
						font-family: 'Proxima Nova Lt' !important;
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */


						color: #000000;
					}
					
					.et_pb_button_module_wrapper.step1{
						width: 202px;
						height: 202px;
						position: absolute;
						left: 45px;
						margin-top: 74px;
					}
					.et_pb_button_module_wrapper.step2{
						width: 236px;
						height: 236px;
						position: absolute;
						left: 300px;
						margin-top: 115px;
					}
					.et_pb_button_module_wrapper.step3{
						width: 218px;
						height: 218px;
						position: absolute;
						left: 100px;
						margin-top: 342px;
					}
					
					
					/* section 5 desktop */
					
					.shopify-section-steps-heading{
						margin-top: 108px !important;
					}
					
					.shopify_section5  .featured-content--root {
						padding-bottom: 40px;
					}
					.shopify-section-steps-heading .featured-text--heading{
						margin: 0;
						text-align: left; 
						height: 121px; 
						left: 64px; 
						top: 191px; 
						font-family: 'Spectral'; 
						font-style: normal; 
						font-weight: 275; 
						font-size: 110px; 
						line-height: 110%; 
						/* text-transform: capitalize; */ 
						color: #000000;
					}
					
					.shopify-section-steps-heading. custom-text{
						margin-top: 21px;
					}
					
					.shopify-section-steps-heading .featured-text--body{
						width: 344px;
						height: 84px;
						left: 16px;
						top: 4010px;

						/* Desktop/Proxima Nova/Body 2/16 light */

						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* or 21px */


						/* Black */

						color: #000000;
					}
					.shopify_section5 .featured-content--image{
						width: 646px !important;
						height: 450px !important;
					}
					
					.shopify_section5 .step_subheading{
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 32px;
						line-height: 130%;
						/* identical to box height, or 42px */


						/* Black */

						color: #000000;
                        margin-left: 15px;
					}
					
					.shopify_section5 .step-description{
						/* Desktop/Proxima Nova/Body 2/16 light */
						font-family: 'Proxima Nova';
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 130%;
						/* identical to box height, or 21px */
						color: #000000;
                        margin-left: 15px;
					}
					
					.shopify_section4 .featured-content--text .featured-content--text-container{
						height: 650px;
					}
					.how_it_works_step1 .featured-content--text{
						margin-left: 110px;
						/* margin-top: 10px; */
					}
					
					.how_it_works_step2 .featured-content--text{
						margin-left: 0;
						/* margin-top: 10px; */
					}
					
					.how_it_works_step3 .featured-content--text{
						/* margin-top: 10px; */
					}
					
					.how_it_works_step4 .featured-content--text{
						/* margin-top: 10px; */
					}
					
					.shopify_section5 .featured-content--container{
						align-items: unset !important;
					}
					
					/*image text section desktop*/
				}
				.shopify_section6 ul, .shopify_section6 ul li,  .shopify_section6 ul li span{
					padding: revert !important;
					list-style-type: square !important;
					list-style: square !important;
					display: list-item;
					list-style-position: inside;
				}
				 /*
				 @media (min-width: 1200px) {
					#custom-sub-banner-template--16307266388222__16603036182e9617bf .banner-title {
						font-size: 20px;
					}
					#custom-sub-banner-template--16307266388222__16603036182e9617bf {
						margin-bottom: 30px;
					}
				}
				*/

              [data-background-color=light] {
                  background-color: unset !important;
              }
			</style>
				

			{% schema %}
			  {
				"name": "Ambassador",
				"settings": []
			  }
			{% endschema %}

			{% stylesheet %}
			{% endstylesheet %}

			{% javascript %}
			{% endjavascript %}