<div class="main-page-container shopify-main-template--faq-page">
	<div id="shopify-section-template-breadcrumbs" class="shopify-section shopify-section-brdcrmp shopify-section-faq">
		<div class="product-page--header" data-mq="medium-large">
			<ul class="breadcrumbs--root">
				<li data-item="block-link"> <a id="breadcrumbtext" href="/">HOME</a> </li>
				<li id="breadcrumbtitle" data-item="accent-text">Frequently asked questions</li>
			</ul>
		</div>
	</div>
	<div id="shopify-section-template--video_faq_title" class="shopify-sectio shopify-section-main-title shopify-section-faq">
		<div class="featured-text--root">			
		  <!--h3 class="featured-text--overline" >  HI GORGEOUS2 </h3-->
		  <h1 class="featured-text--heading featured-text--heading-faq" data-item="section-heading"> <div class="title1">Frequently asked</div> <div class="title2">questions</div> </h1>	
		  <div class="titleDes" >Check most frequently asked questions here, if you still need help then please contact us at help@mdglam.com</div>
		</div>
	</div>
    <div id="shopify-section-template--faq_Content6" class="shopify-section shopify_section6 shopify-section-faq" style="clear: both;">
		<div class="image-with-text--root" data-section-id="template--faq_Content3">
			<div class="featured-content--root" >
				<div class="featured-content--container">						
					<div class="featured-content--text titleSec">
						<div class="featured-content--text-container" style="display: none;">
							<div class="faqSectionMenu faqmenu1 active" data-openfaq="Sec1_faq" ><span>Web Order Questions or concerns</span></div>
							<div class="faqSectionMenu faqmenu2" data-openfaq="Sec2_faq" ><span>Acne Concerns</span></div>
							<div class="faqSectionMenu faqmenu3" data-openfaq="Sec3_faq" ><span>Product Questions</span></div>
							<div class="faqSectionMenu faqmenu4" data-openfaq="Sec4_faq" ><span>Product Recommendations</span></div>
							<div class="faqSectionMenu faqmenu5" data-openfaq="Sec5_faq" ><span>Aesthetics and Skincare</span></div>
							<div class="faqSectionMenu faqmenu6" data-openfaq="Sec6_faq" ><span>Samples</span></div>
							<div class="faqSectionMenu faqmenu7" data-openfaq="Sec7_faq" ><span>Product Feedback / Concerns/ Suggestions</span></div>
						</div>
						<div class="faqType-container" style="display: none;" >
							<select class="faqType">
							  <option value="1" data-openfaq="Sec1_faq" >Web Order Questions or concerns</option>
							  <option value="2" data-openfaq="Sec2_faq" >Acne Concerns</option>
							  <option value="3" data-openfaq="Sec3_faq" >Product Questions</option>
							  <option value="4" data-openfaq="Sec4_faq" >Product Recommendations</option>
							  <option value="5" data-openfaq="Sec5_faq" >Aesthetics and Skincare</option>
							  <option value="6" data-openfaq="Sec6_faq" >Samples</option>
							  <option value="7" data-openfaq="Sec7_faq" >Product Feedback / Concerns/ Suggestions</option>
							</select>
						</div>
					</div>
					<div class="featured-content--text faqSec">
						<div class="Sec1_faq faqSection" >
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Where does MD GLAM ship?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p class="" ><span >MD GLAM ships within the U.S. and internationally.</span></p>
									</div>
								</div>
							</div>

							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >How will I know when my order has been shipped?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p class="" ><span >Our customer service team will send out a shipping confirmation email once your item has shipped.</span></p>
									</div>
								</div>
							</div>

							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >How can I track my order?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Your tracking number and all pertinent shipping info will be included in your shipping confirmation email</span></p>									
									</div>
								</div>
							</div>

							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >What’s your return policy?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>All items are final sales. Once an item has been open and used, we cannot accept any returns. However, if you have received a wrong item or there is a missing item(s), please email our customer service team at help <a href="mailto:info@mdglam.com">@mdglam.com</a> with your ORDER NUMBER and we will be happy to send you a replacement.</span></p>									
									</div>
								</div>
							</div>


							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Can I sell the products on my own site?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>our purchase of any MD GLAM product or curated kit is for PERSONAL USE ONLY and NOT for resale. By purchasing MD GLAM products, you agree not to resell or distribute said products.</span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="Sec2_faq faqSection" style="display:none;" >
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I had a few questions about the products. My husband gets really bad acne under his facial hair. Do you think those products are ok for his type of skin?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>MD Glam products are formulated to work for all skin types. Many customers who suffer from acne have reported visible improvements with their skin when adhering to an MD Glam skincare regimen. However, MD Glam products aren't formulated to specifically treat acne. Successfully treating acne often requires a prescription medication from a board-certified dermatologist. It is advised to seek the consultation of a dermatologist to treat any adverse skin-related conditions, including chronic acne. </span></p>
									</div>
								</div>
							</div>

							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Can MD Glam be used for acne?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>MD Glam products are not formulated to treat acne. However, our customers who presented with acne have reported significant improvement in their skin. Especially since MD GLAM products are non-greasy and hydrating, this often helps treat skin that has dried out from acne treatments.</span></p>										
									</div>
								</div>
							</div>

							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I have rosacea, are MD GLAM products safe to use? </span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Yes! Our products are safe to use with rosacea. In fact, our customers who also struggle with rosacea have reported significant improvements in their skin without any flare ups or triggers. We recommend only using MD GLAM products exclusively considering the formulations are paraben and sulfate free, non-greasy, and hydrating.</span></p>
									</div>
								</div>
							</div>

							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Does MD Glam’s Sunshout SPF 50 stick to the face and make people look like Casper like many other natural sunblocks?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>No! Dr. Cat specifically formulated the MD Glam Sunshout SPF 50 sunscreen because she was frustrated with other sunscreens leaving an unsightly “white cast” upon application. Dr. Cat strongly believes in the importance of sun protection to fight age and has personally tried so many products, only to discard them in the long run. Therefore, she spent over two years in R&amp;D and extensive testing to create the most undetectable, incredible facial sunscreen to hit the beauty market. The proprietary formulation and preparation of the MD Glam Sunshout Sunscreen boast an SPF of 50 with broad-spectrum UVA/UVB protection. The main active ingredient is a natural sunblock which rich in anti-aging antioxidants for additional protective complexion benefits. Most importantly, it is non-greasy, fast-absorbing, and can be worn comfortably under makeup – or alone - all day without the dreadful white cast. </span></p>
									</div>
								</div>
							</div>

							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I need help in knowing why my skin broke out just after I started using the products.</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>First, it’s best to know exactly how the skin reacts. An allergic reaction would result in the form of a rash. If you use products other than MD Glam or take any medications, like birth control, you may experience unwanted flare-ups. Acne is usually hormonal, and consulting with a dermatologist is highly recommended to help resolve the issue. The entire MD Glam collection undergoes rigorous sensitivity testing on a myriad of skin types. Therefore it is unlikely that an acne flare-up is a result of using an MD Glam product. </span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="Sec3_faq faqSection" style="display:none;" >
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Can MD Glam be used on sensitive skin?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span> </span></p>
										<ul>
										  <li>MD Glam products are suitable for all skin types. Including sensitive, oily, dry, normal/combination, and mature. In addition, MD Glam products are proprietary-formulated without the use of harsh chemicals found in most other skincare products, such as parabens and sulfates. However, as with any skin care regimen, we highly recommend consulting with your dermatologist before using any MD Glam product.</li>
										  <li>MD GLAM products are great for sensitive skin. Dr. Cat personally suffers from sensitive skin issues, which is why she formulated her skincare line. She recommends using only MD GLAM products and not mixing/combining the MD GLAM exclusive products with other brand products. Many times, sensitivity arises from the cleansers, as well, so it’s best to invest in the Full MD GLAM Collection to reap visible, long-lasting results.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Can this product be used on the lips?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>MD Glam products are not formulated for the lips but designed for the face, neck, and decollete.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Can I use Retin-A before applying the night cream?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Never combine Retin-A with any MD Glam product. If you have specific questions about your Retin-A prescription and how to use them with skincare products, please consult your dermatologist.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Are products good for oily skin?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Yes, MD GLAM products are non-greasy, fast-absorbing, and have ingredients that clarify pores.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Why doesn’t the day cream have SPF?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Dr. Cat created a highly effective, antioxidant-rich day moisturizer without SPF because every woman has a personal preference level they desire on their skin. Some prefer physical, mineral sunblock or to layer a separate SPF-specific product on top of her daytime moisturizer. The DMAE Antioxidant Day Moisturizer is for all skin types of women. It absorbs quickly into the skin, leaving a lightweight veil of long-lasting moisture. The day cream also feels light enough to be worn under makeup or with any sunscreen. The MD GLAM Sunshout 50 SPF also doubles as a daytime moisturizer thanks to its lightweight hydration quality.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >How often should I use the scrub?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>It’s recommended for you use the Exfoliating Enzyme Scrub 2-3 times a week for extra exfoliation. Drier skin types should use no more than twice weekly to avoid potential irritation.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Why is the consistency of the night cream thicker than the day cream?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>The Hyaluronic Acid Night C-Complex consistency is thicker than the DMAE Antioxidant Day Moisturizer because of its rich Hyaluronic Acid content, thus making the night cream consistency rich, creamy, and sumptuous. If you prefer, simply add a few drops of water to dilute the cream and apply only a thin layer to the face. A little goes a long way!</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >In what order of applying the products all from the kit and the eye serum?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>In the morning, start with the DMAE Antioxidant Day Moisturizer, then apply the Sunshout Sunscreen SPF 50. Before bed, cleanse the day away with the Deep Pore Foaming Cleanser. Follow with the Retinol-C Intense Eye Serum to the eye area and any expression lines. Finally, layer the Hyaluronic Acid Night C-Complex night cream over your entire face, neck, and decolletage. Buff away dead, superficial cells with the Exfoliating Enzyme Scrub AFTER the Deep Pore Foaming Cleanser either every day to every few days, depending on your skin type.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Why do you have fragrance in your products?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>A light, fresh fragrance is added to the MD GLAM collection for the ritualistic “experience.” Not only does Dr. Cat want her products to be highly efficacious, but she desires women to enjoy using them. Fragrance and aromatherapy are proven to have positive effects when used in self-care, including skincare. And, if you feel good while practicing your skincare routine, you are more likely to continue doing so. Dr. Cat took a great amount of time in choosing specific scents that would create a sense of calm and tranquility during the skin-pampering process. All MD GLAM products undergo extensive sensitivity testing and we have yet to encounter any issues from our luxurious line of skincare essentials.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >MD GLAM During Pregnancy</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Absolutely. MD GLAM is safe to use during pregnancy. We always advise you to consult with your OB/GYN since everyone’s specific condition is different.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Is MD GLAM gluten-free?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>MD GLAM skincare essentials are NOT gluten-free. Essentially, skincare products are not meant to be consumed, but rather applied to the skin. Skincare products containing gluten generally do not affect people with gluten sensitivities. Published research as well as the Dermatologic Society and Celiac Society all support that gluten is not absorbed and topical products (any products you use to apply to the skin) with gluten can be used on people with gluten sensitivities. Gluten sensitivities arise only when ingested. To avoid accidentally consuming the products, never apply to the lip area. Gluten cannot be absorbed through the skin.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Only use the cleanser at night?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>The Deep Pore Foaming Cleanser works well in the morning and at night for any skin type.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >What skin types are MD Glam products suitable for?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>All MD GLAM skincare essentials are suitable for all skin types (sensitive, normal/combination, oily, dry, and mature). However, each person’s complexion varies, so we always recommend you consult with your dermatologist before using any MD GLAM product.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I wish MD GLAM was fragrance-free</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Dr. Cat did consider a fragrance-free skincare line for quite some time. She believes that in addition to being highly effective, skincare should be an “experience,” a moment of pause where women can truly pamper themselves. As scent is intimately linked with our self-care experience, developing and mixing the fresh, light, aromatic notes was one of the most integral aspects of the fastidious formulation process. All MD GLAM products smell fresh, light, and aromatically pleasing to the senses. Plus, they instantly melt into the skin, so their aroma will never compete with your everyday perfume picks.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >How long postpartum should I wait to try this regimen? My skin is still very red and not like it was before pregnancy (still nursing).</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>All MD GLAM products are paraben free and safe to use while breastfeeding except we advise not using the Retinol-C Intense Eye Serum.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Does this work for people with severe eczema?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Our products are not formulated to treat eczema however, all MD GLAM products are proprietary-formulated without the use of harsh chemicals found in most other skincare products, such as parabens and sulfates which can cause irritation and eczema flare ups. Additionally, we recommend consulting with your dermatologist before using any MD GLAM products.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Why is the consistency of the MD GLAM Hyaluronic Acid Night C-Complex Cream thicker than the MD GLAM DMAE Antioxidant Day Moisturizer?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>The night cream’s consistency is thicker than the day cream because of the “plumping effect” of the hyaluronic acid ingredient. Hyaluronic Acid is very concentrated and attracts and retains 1000 times its weight. If desired, simply add a little water to dilute the consistency and apply a thin layer over the face, neck, and decollete. A little goes a long way!</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >My day and night cream are not filled to the complete top. Did I receive less product?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Our products are sold by weight, not volume. The product will likely shift during transportation and may settle over time.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I am interested in buying the eye serum however in the past I’ve had allergic reactions to other serums. I’m not sure what exactly caused it, but my question is do you guys have a sample of it I can purchase? Just to make sure I will not be allergic to it.</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Sorry, but we don’t provide samples of our products. We recommended checking with your dermatologist before undergoing any skincare regimen. Also, rest assured all MD GLAM products undergo extensive sensitivity testing on many skin types.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Dr. Cat in the future would you ever consider packaging that wouldn’t expose the skincare formulas to air? Affecting the potency and longevity? Perhaps a tube or pump of some sort? Or have you not found that the formula's exposure to air has no effect on its potency over time?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>I chose glass for products with specific ingredients because they have better longevity than plastic and less interaction with plastic components. The products that are stable in tubes are in tubes. There are a lot of details that go into formulations and packaging. It’s more complex than most people believe.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Can you please make an SPF powder to put over the MD GLAM Sunshout Sunscreen 50 SPF? I find my face feeling a bit sticky from all the creams. I would love it if you had a setting powder that can be used on top of everything to set!</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>MD GLAM products absorb quickly, are non-greasy, and are formulated for layering without “pilling” if applied as prescribed. The MD GLAM Sunshout Sunscreen 50 SPF is specially formulated to provide broad-spectrum UVA/UVB coverage, absorbs quickly, disappears into the skin, and can be worn under any makeup. A setting of powder can also use throughout the day to control shine.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Should I use a Clarisonic or similar brush/device with MD GLAM?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Many customers use the Clarisonic with their MD GLAM Deep Pore Cleanser, but it is imperative to keep the brush head clean of any bacteria. Dr. Cat recommends mixing the Deep Pore Foaming Cleanser in your hands after thoroughly washing and gently massage the cleanser over your face and neck. For best results, refer to her video tutorials on the MD GLAM website – Mdglam.com.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Why doesn’t the MD GLAM line have a toner?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Dr. Cat wanted to keep MD GLAM products easy to use without a lot of steps. Also, the complete kit provides all the same benefits as a toner would in a way that is powerful yet gentle on the skin. Toners tend to change the pH balance of the skin, making the most active ingredients in anti-aging skincare either too potent and creating irritation (if it lowers the pH) or ineffective (if it raises the pH). Also, toners often strip the skin of its natural, protective oils, resulting in more irritation. Your skin requires essentials to protect it and keep it from aging. The Deep Pore Foaming Cleanser is potent while moisturizing and gentle at the same time. The Exfoliating Enzyme scrub is used for the extra exfoliation you might need if you have oily skin. Which also imparts antioxidants without stripping susceptible skin.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Which products contain Retinol, and are they safe to use if I'm breastfeeding?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Only the MD GLAM Retinol-C Eye Serum contains Retinol. The NIGHT and DAY moisturzier and other MD GLAM products do not contain retinol and are safe to use while pregnant or breastfeeding. The complete ingredient list for each product is availiable on our website - <a href="//MDGLAM.com">MDGLAM.com</a> for you to review with your OB-GYN or pediatrician for any individual concerns.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Do you have something for fine lines under the eyes that has worked?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Yes we do! Our Overnight Beauty Set is the perfect anti-aging set formulated to combat fine lines, wrinkles, eye bags, and puffiness all while building collagen.</span></p>
									</div>
								</div>
							</div>
							
						</div>
						<div class="Sec4_faq faqSection" style="display:none;" >
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I have dark eye circles and a couple of milia seeds around my eye area. Which MdGlam product would be suitable for me? Also, I’m 31 this year, and I do not have any day or night beauty regimen. I think I need it now, though, but I do not know where to start. Could you help, please?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>There are multiple causes of dark eye circles like: sinus issues, thin skin, lack of sleep, or dehydration. Our Overnight Beauty Set which consists of the Retinol-C Intense Eye Serum and Hyaluronic Acid Night C-Complex, provides long-lasting, healthy hydration, and promotes collagen production to help combat dark circles. Additionally, because of the delicate eye area and regular milia flare ups, we recommend consulting with your dermatologist before starting any skincare regimen.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >If you were to recommend one MD GLAM product which would it be?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>We love all MD GLAM products equally as they all contribute to healthy, vibrant, and youthful-looking skin - and nothing beats that! However, most of our first-time customers opt for our Best-Selling Ultimate Anti-Aging Kit because it comprises everything that you need for daily skincare. All products are safe and suitable for all skin types which is a plus!</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I have a friend who has damaged skin from being in the sun her skin is burnt and I would like to know if your MD glam products would help with healing the skin so I can make a purchase.</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>For any specific skin condition or concern, we recommended the person to visit their dermatologist. However, all MD GLAM products are formulated with skin-supporting, supercharged ingredients that help build collagen and help fade hyperpigmentation. Any skin type can benefit from MD GLAM.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Which set would you recommend for a first-time buyer? I’m 42 years old with oily skin. Please help!</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Most of our first-time customers opt for our Best-Selling Ultimate Anti-Aging Kit because it comprises everything that you need for healthy, vibrant, and youthful-looking skin. This set includes our Deep Pore Foaming Cleanser, Exfoliating Enzyme Scrub, DMAE Antioxidant Day Moisturizer, and Hyaluronic Acid Night C-Complex which is perfect for everyday skincare. And yes, all MD GLAM products are safe and suitable for all ages and skin types.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I’ve been using my whole set for about two weeks now and I love it! Noticed a difference in the texture of my skin and my foundation goes on so much smoother. That being said, I was wondering if you purposely put less product in the night cream? I use about a pea-sized amount of both the day cream and night cream every day, but the remainder of my day cream is still close to the top of the jar while it seems like I only have about half of the night cream is left</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Thank you. All MD GLAM products are measured by weight and not volume. There is an intentional air pocket in the jars, which has the potential to cause “shifting” during shipment and transporting processes. The volume of the MD GLAM products can seem different or “less than expected,” though the amount is correct.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I had a question! I have been seeing your products, keep checking them out, and want to buy them since they look amazing! My mom has brown spots on both her cheeks that are quite noticeable and some fine lines. Would the MDGLAM help reduce this or make them better?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>MD GLAM products are formulated to help with hyperpigmentation and fine lines. YES, it will help. However, dark brown spots usually need the aggressive approach of laser treatments to begin the fading process. Please view the MD GLAM video on lasers for more information.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >At what age do you recommend starting a skincare routine</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>The sooner, the better! Most think to start when you’re older or when your skin begins showing signs of aging. But, being proactive and implementing anti-aging products into your regimen will only help you maintain your natural, beautiful, youthful-looking skin.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I have dry skin that becomes flaky, but I also get very tiny blackheads on my nose &amp; chin. Would your skincare line be a good fit for me? Thanks!!!</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Yes! Many people have combination skin with large pores in the T-zone, but dry skin everywhere else. MD GLAM is perfect for addressing this unique skin situation. It helps purify pores while it hydrates your skin. We recommend the complete kit for everyday skincare needs/concerns. The versatile MD GLAM Retinol C-Intense Eye Serum not only keeps the delicate eye area plump, pretty, and hydrated, it benefits other areas of the face where you want to reduce wrinkle depth.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >What is the best way to store MD GLAM products?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Always cap your products tightly, especially the MD GLAM Hyaluronic Acid Night C-Complex night cream and MD GLAM Deep Pore Foaming Cleanser. All MD GLAM products are formulated with a bevy of highly concentrated ingredients, so you want to be sure to protect them properly. Store all your MD GLAM essentials in a cool, dark place, away from direct sunlight. They can even be stored in the fridge to preserve stability and provide a refreshing feeling to the skin upon application.</span></p>
									</div>
								</div>
							</div>
							
						</div>
						<div class="Sec5_faq faqSection" style="display:none;" >
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Which is better…skincare or Botox?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Botox inhibits dynamic movement of the facial muscles that eventually form deep dynamic wrinkles, also known as expression lines. On the other hand, skincare improves fine lines, skin texture, hyperpigmentation, and overall skin vitality and quality. Neither skincare nor Botox “lift” the face, as a surgical facelift does. The combination of Botox and an effective skincare regimen helps to maintain a long-lasting, youthful appearance.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >What separates MD GLAM from other popular beauty brands</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>MD GLAM was developed and formulated by Dr. Cat a celebrity, world-renowned plastic surgeon, and published skincare researcher based in Beverly Hills, California. Dr. Cat’s passion for skincare and desire to create a product line from beginning to end that she could stand behind 100% was her lifelong motivations for developing MD GLAM. Not a model or paid actress hired by a marketing firm, Dr. Cat personally created MD GLAM out of a need and request for effective, affordable skincare that also smelled fresh and felt luxurious. She devoted her career by creating a daily, ritualistic experience that she could fall in love with every single day and hope you would, too! Once you try MD GLAM, experience it, and see the transformation in your skin, the difference will be clear.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I'm in my 20’s, 30’s, 40’s, etc can I use all of them?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Absolutely. It’s never too early to start a rigorous skincare regimen. Preventative skin care maintenance is key to a lifetime of beautiful, healthy skin.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Can I ask you about skin issues?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>We do not provide medical services through social media or email. If you would like to schedule a personal video consultation, please call the office at <a href="tel:3108588808">310-858-8808</a> or email <a href="mailto:help@beautybydrcat.com">help@beautybydrcat.com</a>. You can also send an email with your phone number and the best time to reach you, and someone at the office will get in touch shortly.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Are MD Glam sets suitable for micro-needling aftercare?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>The sets are not specifically for micro-needling aftercare. MD Glam products are developed to maintaining collagen, stabilizing hyperpigmentation, and improving texture in between micro-needling sessions. Please discuss with the specialist before re-started any skincare products after micro-needling since every procedure is doing differently.</span></p>
									</div>
								</div>
							</div>
							
						</div>
						<div class="Sec6_faq faqSection" style="display:none;" >
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I am interested in buying the eye serum however in the past I’ve had allergic reactions to other serums. I’m not sure what exactly caused it, but my question is do you guys have a sample of it I can purchase? Just to make sure I will not be allergic to it.</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Sorry, but we don’t provide samples of our products. We recommended checking with your dermatologist before undergoing any skincare regimen. Also, rest assured all MD GLAM products undergo extensive sensitivity testing on many skin types.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Do you have any trial sizes available?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>We do not have trial sizes but we are so confident that you will absolutely love MD GLAM we have a 60 day money back guarantee.</span></p>
									</div>
								</div>
							</div>
							
						</div>
						<div class="Sec7_faq faqSection" style="display:none;" >
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Dr. Cat in the future would you ever consider packaging that wouldn’t expose the skincare formulas to air? Affecting the potency and longevity? Perhaps a tube or pump of some sort? Or have you not found that the formula's exposure to air has no effect on its potency over time?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>I chose glass for products with specific ingredients because they have better longevity than plastic and less interaction with plastic components. The products that are stable in tubes are in tubes. There are a lot of details that go into formulations and packaging. It’s more complex than most people believe.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I wish MD GLAM was fragrance-free</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Dr. Cat did consider a fragrance-free skincare line for quite some time. She believes that in addition to being highly effective, skincare should be an “experience,” a moment of pause where women can truly pamper themselves. As scent is intimately linked with our self-care experience, developing and mixing the fresh, light, aromatic notes was one of the most integral aspects of the fastidious formulation process. All MD GLAM products smell fresh, light, and aromatically pleasing to the senses. Plus, they instantly melt into the skin, so their aroma will never compete with your everyday perfume picks.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Should I use a Clarisonic or similar brush/device with MD GLAM?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Many customers use the Clarisonic with their MD GLAM Deep Pore Cleanser, but it is imperative to keep the brush head clean of any bacteria. Dr. Cat recommends mixing the Deep Pore Foaming Cleanser in your hands after thoroughly washing and gently massage the cleanser over your face and neck. For best results, refer to her video tutorials on the MD GLAM website – Mdglam.com.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >I want to try MD GLAM but the price point is a little too steep. I don’t think I want to spend this much for a good skincare line.</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Using an effective skincare regimen protects your skin and keeps you from spending more money on more invasive procedures.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Can you please make an SPF powder to put over the MD GLAM Sunshout Sunscreen 50 SPF? I find my face feeling a bit sticky from all the creams. I would love it if you had a setting powder that can be used on top of everything to set!</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>MD GLAM products absorb quickly, are non-greasy, and are formulated for layering without “pilling” if applied as prescribed. The MD GLAM Sunshout Sunscreen 50 SPF is specially formulated to provide broad-spectrum UVA/UVB coverage, absorbs quickly, disappears into the skin, and can be worn under any makeup. A setting of powder can also use throughout the day to control shine.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Why doesn’t the MD GLAM line have a toner?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>Dr. Cat wanted to keep MD GLAM products easy to use without a lot of steps. Also, the complete kit provides all the same benefits as a toner would in a way that is powerful yet gentle on the skin. Toners tend to change the pH balance of the skin, making the most active ingredients in anti-aging skincare either too potent and creating irritation (if it lowers the pH) or ineffective (if it raises the pH). Also, toners often strip the skin of its natural, protective oils, resulting in more irritation. Your skin requires essentials to protect it and keep it from aging. The Deep Pore Foaming Cleanser is potent while moisturizing and gentle at the same time. The Exfoliating Enzyme scrub is used for the extra exfoliation you might need if you have oily skin. Which also imparts antioxidants without stripping susceptible skin.</span></p>
									</div>
								</div>
							</div>
							<div class="accordion_outer">
								<div class="accordion"><span class="inner_accordion" >Do you test on animals?</span></div>
								<div class="panel">
									<div class="inner_panel">
										<p><span>No. All MD Glam skincare essentials are cruelty-free and officially Leaping Bunny-certified.</span></p>
									</div>
								</div>
							</div>
							
						</div>

						<script>
						var acc = document.getElementsByClassName("accordion");
						var i;

						for (i = 0; i < acc.length; i++) {
						acc[i].addEventListener("click", function() {

						var panel = this.nextElementSibling;
						if (panel.style.maxHeight){
						  panel.style.maxHeight = null;
						  panel.style.paddingBottom = null;
						  this.classList.remove("active");
						} else {
						  let active = document.querySelectorAll(".accordion.active");
						  for(let j = 0; j < active.length; j++){
							active[j].classList.remove("active");
							active[j].nextElementSibling.style.maxHeight = null;
							active[j].nextElementSibling.style.paddingBottom = null;
						  }
						  this.classList.toggle("active");
						  panel.style.maxHeight = panel.scrollHeight+20 + "px";
						  panel.style.paddingBottom = "20px";
						}
						});
						}
						</script>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<script>
jQuery(document).ready(function(){
	jQuery('.faqSectionMenu').click(function(){
		var openfaq = jQuery(this).attr('data-openfaq');
		jQuery('.faqSectionMenu').removeClass('active');
		jQuery(this).addClass('active');
		jQuery('.faqSection').hide();
		jQuery('.'+openfaq).show();
	});
});
</script>
<script>
jQuery(document).ready(function(){
	jQuery('.faqType').change(function(){
		// var selType = jQuery(this).find(":selected").val();
		// jQuery('.grid-container').hide();
		// jQuery('.'+selType).show();	
		var openfaq = jQuery(this).find(":selected").attr('data-openfaq');
		jQuery('.faqSectionMenu').removeClass('active');
		jQuery(this).addClass('active');
		jQuery('.faqSection').hide();
		jQuery('.'+openfaq).show();		
	});
	
});
</script>
<style>
/* --MOBILE-- */
@media (max-width: 767px){
	.faqType{
		border: none;
		outline:0px;
		margin-bottom: 6px;
		padding: 0;
	}
	.faqType-container{
		border-bottom: 1px solid;
		margin-bottom: 24px;
		display: block !important;
	}
	.featured-content--text-container{
		display: none !important;
	}
	.faqSectionMenu {
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #000000;
		cursor: pointer;
	}
	.featured-content--text.titleSec{
		padding-top: 10px;
		text-align: left;
	}
	.shopify-main-template--faq-page{
		/* width: 1170px; */
		margin: 0 15px;
		margin-bottom: 80px;
		margin-top: 10px;
	}
	.featured-content--root{
		padding: 0;
	}
	.faqSectionMenu.active span{
		border-bottom: 1px solid;
		padding-bottom: 3px;
	}
	.faqmenu7 {
		padding-bottom: 3px;
	}
	h1.featured-text--heading{
		font-family: 'Spectral';
		font-style: normal;
		font-weight: 275;
		font-size: 42px;
		line-height: 110%;
		text-transform: uppercase;
		letter-spacing: unset;
		margin-top: 3px;
	}
	.titleDes{
		margin-top: 27px;
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
	}
	.accordion {
		background-color: unset;
		/* color: #444; */
		cursor: pointer;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		transition: 0.4s;
		padding-left: 0;
		padding: 10px 0px;
		/* Desktop/Proxima Nova/Body/18 regular */
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
	}

	.active, .accordion:hover {
		background-color: unset;
		color: unset;
	}

	.accordion:after {
	  content: url('https://cdn.shopify.com/s/files/1/0655/9442/5598/files/arrow-icon.svg?v=1663090533');
	  transition-duration: 0.5s;
	  /* color: #777; */
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.accordion.active:after {
	  content: url('https://cdn.shopify.com/s/files/1/0655/9442/5598/files/arrow-expand.svg?v=1664833574');
	  /* transform: rotate(90deg); */
	  transition-duration: 0.5s;
	}

	.panel {
		padding: 0;
		/* background-color: white; */
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		border-bottom: 1px solid #000;
		font-family: 'Proxima Nova Lt';
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 130%;
		text-align: left;
	}
	.inner_panel {
		width: 90%;
		text-align: justify;
	}
	 /* Section 6 */
	 
	.shopify_section6 .featured-content--text.titleSec{
		text-align: left;
		order: 1 !important;
	}
	.shopify_section6 .featured-content--text.faqSec{
		
		max-width: unset !important;
		order: 2 !important;
	}
	.shopify_section6 h4{
		font-family: 'Spectral' !important;
		font-style: normal;
		font-weight: 275;
		font-size: 56px;
		line-height: 110%;
		/* identical to box height, or 62px */

		/* text-transform: capitalize; */

		color: #000000;
		margin: 0;
	}

	.shopify_section6 .featured-content--container{
		align-items: unset;
	}
	.shopify_section6 .featured-content--root{
		padding-top: 29px;
	}
	.accordion_outer{
		
	}
}
</style>
<style>
/* --DESKTOP-- */
@media (min-width: 1025px){
	
	.faqSectionMenu {
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #000000;
		cursor: pointer;
	}
	.featured-content--text.titleSec{
		padding-top: 10px;
		text-align: left;
	}	
	.featured-content--text-container{
		display: block !important;
	}
	.faqType-container{
		display: none !important;
	}
	.shopify-main-template--faq-page{
		width: 1170px;
		margin: 0px auto;
		margin-bottom: 180px;
		margin-top: 10px;
	}
	.featured-content--root{
		padding: 0;
	}
	.faqSectionMenu.active span{
		border-bottom: 1px solid;
		padding-bottom: 3px;
	}
	.faqmenu7 {
		padding-bottom: 3px;
	}
	h1.featured-text--heading{
		font-family: 'Spectral';
		font-style: normal;
		font-weight: 275;
		font-size: 110px;
		line-height: 110%;
		text-transform: uppercase;
		letter-spacing: unset;
		margin-top: 3px;
	}
	h1.featured-text--heading .title2{
		right: 171px;
		float: right;
		position: relative;
	}
	.titleDes{
		width: 320px;
		position: absolute;
		margin-top: 40px;
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 130%;
	}
	.accordion {
		background-color: unset;
		/* color: #444; */
		cursor: pointer;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;

		transition: 0.4s;
		padding-left: 0;
		padding: 10px 0px;



		/* Desktop/Proxima Nova/Body/18 regular */

		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
	}

	.active, .accordion:hover {
	  background-color: unset;
	  color: unset;
	}

	.accordion:after {
	  content: url('https://cdn.shopify.com/s/files/1/0655/9442/5598/files/arrow-icon.svg?v=1663090533');
	  transition-duration: 0.5s;
	  /* color: #777; */
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.accordion.active:after {
	  content: url('https://cdn.shopify.com/s/files/1/0655/9442/5598/files/arrow-expand.svg?v=1664833574');
	 /* transform: rotate(90deg); */
	  transition-duration: 0.5s;
	}

	.panel {
		padding: 0;
		/* background-color: white; */
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		border-bottom: 1px solid #000;
		font-family: 'Proxima Nova Lt';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 130%;
		text-align: left;
	}
	.inner_panel {
		width: 90%;
		text-align: justify;
	}
	 /* Section 6 */
	 
	.shopify_section6 .featured-content--text.titleSec{
		margin-left: 0;
		width: 30%;
		order: 1 !important;
	}
	.shopify_section6 .featured-content--text.faqSec{
		width: 60%;
		max-width: unset !important;
		order: 2 !important;
		margin-left: 0;
	}
	.shopify_section6 h4{
		font-family: 'Spectral' !important;
		font-style: normal;
		font-weight: 275;
		font-size: 56px;
		line-height: 110%;
		/* identical to box height, or 62px */

		/* text-transform: capitalize; */

		color: #000000;
		margin: 0;
	}

	.shopify_section6 .featured-content--container{
		align-items: unset;
	}
	.shopify_section6 .featured-content--root{
		padding-top: 96px;
	}
	.accordion_outer{
		
	}
}
</style>
  
{% schema %}
  {
    "name": "faq",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}