<div class="main-page-container shopify-main-template--shipping-and-returns-page">
	<div id="shopify-section-template--16368851517694__main" class="shopify-section breadcrumbs-section" style="">
		<div class="product-page--header" data-mq="medium-large">
			<ul class="breadcrumbs--root">
				<li data-item="block-link">
					<a id="breadcrumbtext" href="/">Home</a>
				</li>		   
				<li id="breadcrumbtitle" data-item="accent-text">Shipping and Returns</li>		   
			</ul>
		</div>
	</div>
	<div class="page-content shipping-and-returns-page">		
		<div class="font--paragraph rte-content">
		  <table class="tbl_shipping-returns" width="100%" cellspacing="0" cellpadding="0">
			<tbody>
			  <tr class="pricetablehead">
				<th height="56">
				  <div style="text-align: left; padding-left: 10px;" align="center">Method</div>
				</th>
				<th style="text-align: left;">
				  <div style="text-align: left;" align="center">Cost</div>
				</th>
				<th style="text-align: left;">
				  <div style="text-align: left;" align="center">Expected Arrival</div>
				</th>
			  </tr>
			  <tr class="pricetableheadsone" style="text-align: left;">
				<td class="color-000 headingtab" height="56">Standard</td>
				<td>FREE on orders over $150</td>
				<td>5-8 Business Days or less</td>
			  </tr>
			  <tr class="pricetableheadsone prictbelthree">
				<td class="color-000 headingtab" height="56">UPS 2 Day</td>
				<td>$19.99</td>
				<td>2 Business Days, no PO Boxes</td>
			  </tr>
			  <tr class="pricetableheadstwo">
				<td class="color-000 headingtab" height="56">Overnight</td>
				<td>$29.99</td>
				<td>1 Business Days, no PO Boxes</td>
			  </tr>
			</tbody>
		  </table>
		  <div class="shipping_lists">
			<ul>
			  <li>
				<p>Free Shipping is on all orders over $150.</p>
			  </li>
			  <li>
				<p>We offer delivery to the U.S. and International Shipping. Weekends and holidays are excluded. In-stock items only.</p>
			  </li>
			  <li>
				<p>Orders placed after 5pm PST will be processed the following business day.</p>
			  </li>
			  <li>
				<p>Orders placed on a weekend will be processed on the following Monday, holidays excluded.</p>
			  </li>
			  <li>
				<p>Please allow up to 48 hours for processing in addition to time in transit.</p>
			  </li>
			  <li>
				<p>We now offer worldwide international shipping.</p>
			  </li>
			</ul>
		  </div>
		  <div class="shipping_rest_section">
			<h2>Shipping Restrictions</h2>
			<div class="subsection refused_package">
			  <p>
				<strong>Refused Packages/Non-Delivery</strong> - For any refused shipment or non-delivery due to customer not being present or not picking up their item from the delivery service, a $19 Non-Delivery fee will be charged to the payment form selected during checkout and will be subtracted from any refund or store credit.
			  </p>
			</div>
			<div class="subsection processing_time">
			  <p>
				<strong>Processing Time</strong> - All orders are processed within 24-48 hours after they are placed. Orders placed after 3:00 pm PST will be processed on the next business day. Orders placed on Saturday or Sunday will be processed the following Monday.
			  </p>
			</div>
			<div class="subsection exchange">
			  <p>
				<strong>Exchanges/Returns</strong> - If you believe that you are entitled to a replacement or repair, please email help@mdglam.com with your order number. Please note that requests for exchanges/replacements must be made within (7) working days from the day you receive the products.
			  </p>
			  <p>Returns will be processed within 10-14 working days of receiving the request. <span style="font-weight: 400;">If you received the incorrect products</span> contact us within seven (7) working days from when you received the product and we will send you the correct item. </p>
			  <p>
				<span style="font-weight: 400;">If you made an error in ordering or changed your mind,</span> you may return the product to MD GLAM or cancel the entitlement to services and obtain a refund of the price of the returned product minus shipping and handling charges provided that:
			  </p>
			  <ul>
				<li>You contact us within seven (7) working days from the day you received the products.</li>
				<li>Items must be unopened, unused and in their original packaging. Refunds <strong>cannot</strong> be issued once an item has been opened or used. </li>
			  </ul>
			</div>
			<div class="subsection refunds">
			  <p>Refunds will be credited to the original credit card or payment service used for payment for the purchase price minus shipping, handling, and other charges. Shipping fees are NOT refundable.</p>
			  <p>These returns will be charged a 25% restocking fee and the cost for us to ship out the new product if it was an exchange. <span style="font-weight: 400;">Defective products</span> MD GLAM takes pride in the quality of its products and every product undergoes multiple layers of quality control. </p>
			  <p>However, if you believe you have received a defective product, please email help@mdglam.com describing the issue and attach clear photos and videos if possible. A customer care associate will review your request and respond via email.</p>
			  <p>If a return is authorized, you will be given instructions on how to return your product. Returns are subject to inspection and may be subject to a 25% restocking fee. If you purchased the item as part of a kit, please only return the items that are defective, not the whole kit.</p>
			  <p>Returns that do not meet the return policy criteria will not qualify for a refund and may be returned at the customers expense or disposed of. Refund eligibility is determined once your return is received and inspected.</p>
			  <p>We reserve the right to refuse a refund on any return shipment. We reserve the right to deny multiple refunds by customers that have a habit of returning products. We will be unable to issue a refund for customers that request repeat refunds.</p>
			  <p>We reserve the right to refuse any customers. We are not responsible for any return packages that are lost or damaged in transit. Please note - we cannot monitor our customers for their individual skin types, health conditions or product compatibility.</p>
			  <p>Our products undergo rigorous sensitivity testing to ensure that they are compatible with a wide variety of skin types, however we strongly suggest you consult your physician or skin care professional for an analysis of your particular skin type and sensitivity levels before purchasing any product.</p>
			  <p>We also instruct our customers to test a small area of skin of the forearm prior to applying for the face. No refund will be given for any reason related to product effect or compatibility with your skin type including allergic reaction. We can only offer returns or refunds for an item that is damaged or defective.</p>
			</div>
			<div class="subsection domestic_delivery">
			  <p>
				<strong>Domestic Delivery Time</strong> - Standard Shipping Orders shipped to the western U.S. can be expected within 3-5 business days. Orders shipped to the eastern U.S. generally take 5-8 business days. Please note free shipping does not include weekends and holidays.
			  </p>
			  <p>For quicker delivery, guaranteed overnight and 2-day shipping services are available. All delivery times are estimates. The total time needed to deliver your package may be longer.</p>
			  <p>MD GLAM is not responsible for delays in delivery due to events beyond our control, including shortage of materials, labor strikes, transportation failures or acts of nature. MD GLAM can not be responsible for damage to products due to weather or shipping problems.</p>
			  <p>These are issues that can be taken up with the shipping carrier.</p>
			</div>
			<div class="subsection internationl_shiping">
			  <p>
				<strong>International Shipping</strong> - Please check with your local customs authorities on rules and regulations for packages. Shipping fee does not cover import taxes/duties that your country may charge you when a package is ready for pick-up/delivery. MD GLAM can not be responsible for issues related to customs such as opened packages, damaged goods by the authorities, or problems receiving products.
			  </p>
			</div>
			<div class="subsection overnight-shipping">
			  <p>
				<strong>Overnight and 2-day Shipping</strong> - If you need quicker delivery, we offer Next Day and 2nd Day shipping services. United States Postal Service (USPS) is required for all deliveries to PO Boxes and military addresses. We cannot guarantee replacement of lost packages shipped via USPS.
			  </p>
			  <p>Be advised that the USPS confirmation number you receive from MD GLAM is only used to verify when a parcel has been delivered, and is not used to track packages en route.</p>
			</div>
			<div class="subsection freight_forwrd">
			  <p>
				<strong>Freight Forwarders</strong> - MD Glam doesn’t ship to freight forwarders or addresses outside the United States. We reserve the right to cancel all orders shipping to a freight forwarder.
			  </p>
			</div>
			<div class="subsection out-stock">
			  <p>
				<strong>Out of Stock</strong> - For any items in your order that are out of stock, we will notify you via email within one business day. Please make sure to add us to your address book so that you may receive a confirmation email.
			  </p>
			  <p>
				<strong>Holiday Shipping</strong> - In accordance with U.S. federal holidays, our warehouse will be closed on the following days:
			  </p>
			</div>
			<div class="subsection holiday_ship">
			  <ul class="holiday_list">
				<li>January 1st – New Years Day</li>
				<li>May - Memorial Day</li>
				<li>July 4th – Independence Day</li>
				<li>September - Labor Day</li>
				<li>November – Thanksgiving Day</li>
				<li>November – The Day After Thanksgiving Day</li>
				<li>December 24th – Christmas Eve Day</li>
				<li>December 25th – Christmas Day</li>
			  </ul>
			</div>
			<div class="subsection same-day_ship">
			  <h2>Same Day Shipping</h2>
			  <p>If you would like us to process and ship your order out the same day it is placed, please select same day processing at checkout for an additional charge. Orders must be placed before 12pm (PST), Monday-Friday. Excludes weekends.</p>
			</div>
		  </div>
		</div>
	</div>
</div>


	<style>
	@media (min-width: 1025px){
		.main-page-container.shopify-main-template--shipping-and-returns-page{
			width: 1170px;
			margin: 0px auto;
            margin-bottom: 92px;
		}
		.shipping-and-returns-page.page-content{
			/* margin: 0 65px; */
			margin-top: 80px;	
		}
        .breadcrumbs-section{
            /* margin: 0 65px; */
        }
		.shipping-and-returns-page.shipping_lists{
			margin-top: 40px;
		}
		.shipping-and-returns-page table.tbl_shipping-returns{
			width: 90%;
		}
		.shipping-and-returns-page table.tbl_shipping-returns th{
			background: black;
			color: #fff;
			font-size: 18px;
			font-family: 'Proxima Nova';
			font-style: normal;
		}
		.shipping-and-returns-page table.tbl_shipping-returns td{		
			font-size: 16px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
		}
		.shipping-and-returns-page table.tbl_shipping-returns td.headingtab{	
			font-family: 'Proxima Nova';
		}
		.shipping-and-returns-page ul li{
			padding: revert !important;
			list-style-type: square !important;
			list-style: square !important;
			display: list-item;
			list-style-position: inside;
			font-size: 18px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
			margin-left: 40px;
		}
		.shipping-and-returns-page ul{
			padding-bottom: 12px;
		}
		.shipping-and-returns-page .shipping-and-returns-page ul li p{
			margin-top: 40px;
		}
		
		.shipping_lists{
			margin-top: 40px;
		}
		
		.shipping-and-returns-page p{
			font-size: 18px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
		}
		
		.shipping-and-returns-page .subsection {
			margin-top: 40px;
		}
		
		.shipping-and-returns-page h2{
			
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 46px;
			/* line-height: 110%; */
			/* or 51px */

			/* text-transform: uppercase; */

			/* Black */

			color: #000000;
		}
		
		.shipping-and-returns-page .shipping_rest_section{
			margin-top: 40px;
		}
		
		.shipping-and-returns-page .subsection.same-day_ship p{
			margin-top: 28px;
		}
		
		.shipping-and-returns-page .subsection.refused_package{
			margin-top: 52px;
		}
	}
	
	@media (min-width: 678px) and (max-width: 1024px){
		/* .main-page-container.shopify-main-template--shipping-and-returns-page{
			width: 1170px;
			margin: 0px auto;
		} */
		.shipping-and-returns-page.page-content{
			margin: 0 25px;
			margin-top: 60px;	
		}
        .breadcrumbs-section{
            margin: 0 25px;
        }
		.shipping-and-returns-page.shipping_lists{
			margin-top: 40px;
		}
		.shipping-and-returns-page table.tbl_shipping-returns{
			width: 90%;
		}
		.shipping-and-returns-page table.tbl_shipping-returns th{
			background: black;
			color: #fff;
			font-size: 18px;
			font-family: 'Proxima Nova';
			font-style: normal;
		}
		.shipping-and-returns-page table.tbl_shipping-returns td{		
			font-size: 16px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
		}
		.shipping-and-returns-page table.tbl_shipping-returns td.headingtab{	
			font-family: 'Proxima Nova';
		}
		.shipping-and-returns-page ul li{
			padding: revert !important;
			list-style-type: square !important;
			list-style: square !important;
			display: list-item;
			list-style-position: inside;
			font-size: 18px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
			margin-left: 40px;
		}
		.shipping-and-returns-page ul{
			padding-bottom: 12px;
		}
		.shipping-and-returns-page .shipping-and-returns-page ul li p{
			margin-top: 40px;
		}
		
		.shipping_lists{
			margin-top: 40px;
		}
		
		.shipping-and-returns-page p{
			font-size: 18px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
		}
		
		.shipping-and-returns-page .subsection {
			margin-top: 40px;
		}
		
		.shipping-and-returns-page h2{
			
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 30px;
			/* line-height: 110%; */
			/* or 51px */

			/* text-transform: uppercase; */

			/* Black */

			color: #000000;
		}
		
		.shipping-and-returns-page .shipping_rest_section{
			margin-top: 40px;
		}
		
		.shipping-and-returns-page .subsection.same-day_ship p{
			margin-top: 28px;
		}
		
		.shipping-and-returns-page .subsection.refused_package{
			margin-top: 52px;
		}
	}
	
	@media (max-width: 767px){
		.shipping-and-returns-page.page-content{
			margin: 0 40px;
			margin-top: 40px;	
            margin-bottom: 30px;
		}
        .breadcrumbs-section{
            margin: 0 40px;
        }
		.shipping-and-returns-page.shipping_lists{
			margin-top: 40px;
		}
		.shipping-and-returns-page table.tbl_shipping-returns th{
			background: black;
			color: #fff;
			font-size: 16px;
			font-family: 'Proxima Nova';
			font-style: normal;
		}
		.shipping-and-returns-page table.tbl_shipping-returns td{		
			font-size: 16px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
		}
		.shipping-and-returns-page table.tbl_shipping-returns td.headingtab{	
			font-family: 'Proxima Nova';
		}
		.shipping-and-returns-page ul li{
			padding: revert !important;
			list-style-type: square !important;
			list-style: square !important;
			display: list-item;
			list-style-position: inside;
			font-size: 16px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
			margin-left: 10px;
		}
		.shipping-and-returns-page ul{
			padding-bottom: 12px;
		}
		.shipping-and-returns-page .shipping-and-returns-page ul li p{
			margin-top: 40px;
		}
		
		.shipping_lists{
			margin-top: 40px;
		}
		
		.shipping-and-returns-page p{
			font-size: 16px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
		}
		
		.shipping-and-returns-page .subsection {
			margin-top: 36px;
		}
		
		.shipping-and-returns-page h2{
			
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 30px;
			/* line-height: 110%; */
			/* or 51px */

			/* text-transform: uppercase; */

			/* Black */

			color: #000000;
		}
		
		.shipping-and-returns-page .shipping_rest_section{
			margin-top: 40px;
		}
		
		.shipping-and-returns-page .subsection.same-day_ship p{
			margin-top: 24px;
		}
		
		.shipping-and-returns-page .subsection.refused_package{
			margin-top: 45px;
		}
	}
	</style>

	{% schema %}
	  {
		"name": "Shipping And Returns",
		"settings": []
	  }
	{% endschema %}

	{% stylesheet %}
	{% endstylesheet %}

	{% javascript %}
	{% endjavascript %}