<div class="main-page-container shopify-main-template--terms-of-service-page">
    <div id="shopify-section-template--16368851517694__main" class="shopify-section breadcrumbs-section" style="">
		<div class="product-page--header" data-mq="medium-large">
			<ul class="breadcrumbs--root">
				<li data-item="block-link">
					<a id="breadcrumbtext" href="/">Home</a>
				</li>		   
				<li id="breadcrumbtitle" data-item="accent-text">Terms of Service</li>		   
			</ul>
		</div>
	</div>
	<div class="page-content terms-of-services-page">
		<div class="font--paragraph rte-content">
			<div class="shipping_rest_section">
				<div class="subsection subsection1">
					<h2>General Conditions</h2>
					<p class="afterh2" ><span>1.&nbsp;</span><a href="https://mdglam.com" title="md glam">www.mdglam.com</a><span>(“Website”) is intended only for those consumers wishing to order products from MD GLAM (“Products”). The terms and conditions under which the Products relate to are sold by Health &amp; Sports Technologies LLC (“Company”) registered in California with offices at 421 N Rodeo Drive, Penthouse 4, Beverly Hills, CA 90210.</span></p>
					<p>The terms and conditions for <a href="https://mdglam.com/" title="MD GLAM">MD GLAM</a>, products offered for sale on this Website are set out below.</p>
					<p>2. By placing an order on the Website, you accept and agree to be bound by these terms and conditions. MD GLAM reserves the right to change these terms and conditions at any time without prior notice. Such change, however, will not affect orders placed before posting any revised terms and conditions on this Website.</p>
					<p>3. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, access to the Service, or any contact on the website through which the service is provided, without express written permission by us. The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.</p>
					<p>4. We reserve the right to suspend the Site at any time for operational, regulatory, legal, or other reasons. We may terminate your use of the Site with immediate effect if you breach any of these Terms.</p>
				</div>
				<div class="subsection subsection2">
					<h2>Terms of Use</h2>
					<p class="afterh2" ><strong>Personal Information: </strong>Your submission of personal information through the store is governed by our <a href="https://mdglam.com/pages/privacy-policy" title="Privacy Policy">Privacy Policy</a>.</p>
				</div>
				<div class="subsection subsection3">
					<p><strong>User comments, feedback and other submissions:&nbsp;</strong>By submitting any comments or material to us (‘Material’), you agree that we may, at any time, copy, modify, distribute or create a derivative work from the Material in any manner that we shall determine. We are, and shall be, under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments.</p>
					<p>You agree that your comments will not violate any right of any third party, including copyright, trademark, privacy, personality, or another personal or proprietary right. You further agree that your comments will not contain libelous or otherwise unlawful, abusive, or obscene material or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third party. You will indemnify us if any third party takes action against us in relation to the Material.</p>
				</div>
				<div class="subsection subsection4">
					<p><strong>Third-party links: </strong>Certain content, products and services available via our Service may include materials from third-parties.</p>
					<p>Third-party links on this site may direct you to third-party websites not affiliated with us. We are not responsible for examining or evaluating the content or accuracy, and we do not warrant it. We will not have any liability or responsibility for any third-party materials or websites or any other materials, products, or services of third parties.</p>
					<p>We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review the third-party’s policies and practices carefully and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third party.</p>
				</div>
				<div class="subsection subsection5">
					<p><strong>Accuracy, completeness and timeliness of information: </strong>We are not responsible if information made available on this site is not accurate, complete, or current. The material on this site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete, or timelier sources of information. Any reliance on the material on this site is at your own risk. Occasionally, there may be information on our site or in the Service that contains typographical errors, inaccuracies, or omissions related to product descriptions, pricing, promotions, offers,&nbsp;<a href="https://mdglam.com/pages/shipping-returns" title="Shipping &amp; Returns">product shipping</a>&nbsp;charges, transit times, and availability. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order).</p>
					<p>This site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.</p>
				</div>
				<div class="subsection subsection6 same-day_ship shipping_lists">
					<h2>Placing an Order</h2>
					<ul class="afterh2" >
						<li>
							<p>To place an order, you must be 18 years of age or over, be accessible by telephone and have a valid email address.</p>
						</li>
						<li>
							<p>You may place an order by filling in the order form on the Website after logging into, or creating, your account and clicking on the appropriate submission button – <a href="https://mdglam.com/" title="MD GLAM">mdglam.com</a> will not accept orders placed in any way other than those listed above.</p>
						</li>
						<li>
							<p>When you place your order,&nbsp;<a href="https://mdglam.com/" title="md glam">mdglam.com</a> will issue you with a Web Order Number via the Website.</p>
						</li>
						<li>
							<p>By placing an order, you offer us to purchase the Products you have selected on these terms and conditions. mdglam.com may or may not accept your offer at our discretion or may reduce the number of Products we accept to deliver to you. However, orders submitted by you are binding on you and cannot be canceled after order submission.</p>
						</li>
						<li>
							<p>If MD Glam accepts your order, we will notify you of our acceptance by issuing an order confirmation. It will send your order confirmation to you by e-mail. The order confirmation will be effective as of the date on which the order confirmation is sent to you. If we cannot accept your order, we will attempt to contact you by email or telephone or post.</p>
						</li>
						<li>
							<p>Please note that the on-screen display of the colors, designs, products may differ from the actual appearance or size of products offered on the Website.</p>
						</li>
					</ul>
				</div>
				<div class="subsection subsection7">
					<p><strong>Supply of your products: </strong>Subject to these terms and conditions,&nbsp;<a href="https://mdglam.com/" target="_blank" rel="noopener noreferrer" title="md glam">mdglam.com</a><span>&nbsp;will supply to you the Products indicated on your order confirmation.</span></p>
				</div>
				<div class="subsection subsection8 shipping_lists">
					<p><strong>Prices: </strong></p>
					<ul>
						<li>
							<p>All prices are in USD $. Prices shall be those prices published on this Website at the time you submit your order. The prices published on the Website are inclusive of VAT where applicable, but may be exclusive of shipping costs, which are for your account. These costs will be calculated separately as applicable and specified on the order form and added to the total price of the order. The total price stated on the order form you submit shall be the total amount payable by you for the products including shipping.</p>
						</li>
						<li>
							<p>If, by mistake, we have underpriced a product, we will not be liable to supply that product to you at the stated price, provided that we notify you before we dispatch the product to you. In those circumstances, we reserve the right to cancel your order. In the event we cancel your order, we will give you a full refund on any amount already paid for that product in accordance with our return&nbsp;and <a href="https://mdglam.com/pages/shipping-returns" target="_blank" title="refund policy" rel="noopener noreferrer">refund policy</a></p>
						</li>
						<li>
							<p>Delivery costs, where applicable, are payable by you as indicated on your order confirmation.</p>
						</li>
					</ul>
				</div>
				<div class="subsection subsection9 shipping_lists">
					<p><strong>Paying for your products: </strong></p>
					<ul>
						<li>
							<p>You may pay for your Products by the methods of payment as may be displayed at the Website checkout.</p>
						</li>
						<li>
							<p>You must pay in the currency as indicated on your invoice.</p>
						</li>
						<li>
							<p>If you are paying by credit or with a debit card, then you must supply your credit or debit card details when you place your order.&nbsp;<a href="https://mdglam.com/">mdglam.com</a>&nbsp;will not supply the Products to you, nor perform the services until your credit or debit card issuer has authorized the use of your card for payment of the Products and/or services ordered. If mdglam.com&nbsp;does not receive such authorization, we shall inform you accordingly. MDGLAM.com reserves the right to verify the identity of the credit or debit card holder by requesting appropriate documentation.</p>
						</li>
					</ul>
				</div>
				<div class="subsection subsection10 shipping_lists">
					<p><strong>Discount codes:</strong></p>
					<ul>
						<li>
							<p>We may from time to time offer promotional discount codes, which may apply in respect of any, or certain specified, purchases made through this Website.</p>
						</li>
						<li>
							<p>The conditions of use relating to any discount code will be specified at the time of issue. However, these Terms &amp; Conditions relate to all MD GLAM promotions, competitions, and discount codes (unless otherwise stated).</p>
						</li>
						<li>
							<p>Only one promotion code can be used per order.</p>
							<ul class="sub_child">
								<li>
									<p>Bundles are excluded from all discount or promotional codes as this already retails at a discounted price.</p>
								</li>
								<li>
									<p>The free shipping offer is not available on an order where a promotional code has been used.</p>
								</li>
								<li>
									<p>A promotion code can’t be used after an order has been placed.</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="subsection subsection11 shipping_lists">
					<p><strong>Delivery of your products</strong></p>
					<ul>
						<li>
							<p>MDGLAM.com will deliver the Products to the delivery address you have specified in the order form and in accordance with the delivery option you have chosen. In the event you order various Products to be delivered to different addresses, you will need to submit a separate order form for each delivery address. Any delivery or shipment dates given by MDGLAM.com are best estimates only and MDGLAM.com shall not be liable for any loss, damage, costs or expenses for failure to deliver in accordance with the delivery or shipment dates given. In the event that any of the Products ordered are out of stock, this may mean the whole order is delayed. If so, an estimate of the delay will be given by e-mail or post, but delivery shall, in any case, be made within thirty (30) days as of the date indicated on the order confirmation by MDGLAM.com.</p>
						</li>
						<li>
							<p>Title to and risk of loss in your Products will pass to you on delivery of the Products.</p>
						</li>
						<li>
							<p>Upon delivery of the Products to the carrier, <a href="https://mdglam.com/" title="md glam">mdglam.com</a>&nbsp;will ssend you a confirmation of shipment by e-mail provided you have indicated an e-mail address on the order form or by post.</p>
						</li>
					</ul>
				</div>
				<div class="subsection subsection12 shipping_lists">
					<p><strong>Exchanges, returns &amp; refunds</strong></p>
					<ul>
						<li>
							<p>Exchange, Return, &amp; Refund activities are being monitored for abuse and unauthorized resale on any other retail channels.</p>
						</li>
						<li>
							<p>You may return the Product to MDGLAM.com or cancel the entitlement to services and obtain a refund of the price of the returned Product provided that you contact us within seven (7) working days from the day after the goods are delivered. The returned items must be unopened</p>
						</li>
						<li>
							<p>Although you will have to pay the cost of returns, the refund will include the full value of the product.</p>
						</li>
						<li>
							<p>If a product is sold as part of a product combination (bundle) in which other <a href="https://mdglam.com/pages/shop">products are offered</a> for free or at a discount compared to their normal price, the bundled product must, at MDGLAM.com’s request, be returned with the product purchased. MDGLAM.com reserves the right to raise an invoice in respect of any free or discounted bundle product not returned.</p>
						</li>
						<li>
							<p>If a Product was supplied in error, is incomplete or faulty and you believe that you are entitled to a replacement or repair in accordance with paragraph 8 below, please email&nbsp;<a href="mailto:help@mdglam.com" title="help@mdglam.com">help@mdglam.com</a></p>
						</li>
						<li>
							<p>Refunds cannot be issued once an item has been opened or used. Items must be unopened, unused, and in its original packaging in order to obtain a refund.</p>
						</li>
						<li>
							<p>If you have received the ordered Product(s) and have simply changed your mind about purchasing it, you may return the Product(s) or entitlement to Service to us for a refund provided:</p>
							<ul class="sub_child">
								<li>
									<p>You inform MDGLAM.com within seven (7) working days from the day after the goods are delivered.</p>
								</li>
								<li>
									<p>You have proof of purchase (i.e. order number / identification); and the products are unopened and unused.</p>
								</li>
								<li>
									<p>Please note that while the Product(s) remain in your possession you are under a duty to ensure that the Product(s) are kept safe and secure.</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="subsection subsection13 shipping_lists">
					<p><strong>Steps to Follow to Claim a Refund:</strong></p>
					<ul>
						<li>
							<p>Cancellation can be exercised in writing or any other durable medium, either by emailing us at
								<br><a href="mailto:help@mdglam.com" target="_blank" rel="noopener noreferrer" title="help@mdglam.com">help@mdglam.com</a> or by writing to:</p>
							<p><em>MD GLAM</em>
								<br><em>421 N. Rodeo Drive, <br>Penthouse 4,</em>
								<br><em>Beverly Hills, <span>CA 90210</span></em></p>
						</li>
						<li>
							<p>The customer is responsible for the cost of the return postage</p>
						</li>
						<li>
							<p>Before returning any Product(s) it is helpful if you check that you have:
								<br><span>- Used appropriate packaging;</span>
								<br><span>- Place the products in it's original packages;</span>
								<br><span>- Clearly displayed the returns address;</span>
								<br><span>- Sealed the packaging securely.</span></p>
						</li>
						<li>
							<p>Ship returned products to:
								<br><em>MD GLAM</em>
								<br><em>223 West Palm Avenue,<br>Unit B,</em>
								<br><em>Burbank CA 91502</em></p>
						</li>
						<li>
							<p>Following the above steps will help ensure the Product(s) arrive at the correct destination and in good condition within a timely fashion.</p>
						</li>
					</ul>
				</div>
				<div class="subsection subsection14">
					<h2>Warranty</h2>
					<p class="afterh2" ><strong>MDGLAM.com - branded Product Warranty:&nbsp;</strong>MDGLAM.com warrants the Products as stated on the Website. Specific warranties may apply to certain Products (such as customized Products) as specified on the Website. Should the Product supplied by&nbsp;mdglam.com not comply with the applicable warranty we shall, at its option and expense, unless provided otherwise in the applicable warranty, repair or replace the Product or refund the purchase price upon return of the Product. Except as expressly set out in these terms and conditions, to the fullest extent permitted by law<span>,&nbsp;</span><a href="https://mdglam.com/" target="_blank" title="md glam" rel="noopener noreferrer">mdglam.com</a><span> hereby disclaims any and all warranties, whether express or implied. The limited warranty set out above will not affect or prejudice your statutory rights.</span></p>
				</div>
				<div class="subsection subsection15">
					<p><strong>Non&nbsp;<a href="https://mdglam.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://mdglam.com&amp;source=gmail&amp;ust=1574181473815000&amp;usg=AFQjCNGrFuKmJi7oGjB1NlFCaKbc_uraSA" rel="noopener noreferrer" title="mdglam">mdglam.com</a><span>&nbsp;-branded/Third-party Products:&nbsp;&nbsp;</span></strong>For non&nbsp;<a href="https://mdglam.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://mdglam.com&amp;source=gmail&amp;ust=1574181473815000&amp;usg=AFQjCNGrFuKmJi7oGjB1NlFCaKbc_uraSA" rel="noopener noreferrer" title="mdglam">mdglam.com</a><span> branded Products, all warranty claims, where relevant, are to be made in accordance with the terms and conditions of any standard manufacturer’s warranty which may be included with the Products purchased. In relation to any existing manufacturer’s warranty, any warranty claims should first be made either directly to the manufacturer or to mdglam.com by email.</span></p>
					<p>IF YOU ARE A CONSUMER, THE WARRANTIES REFERRED TO ABOVE ARE IN ADDITION TO, AND DO NOT AFFECT, YOUR STATUTORY RIGHTS.</p>
				</div>
				<div class="subsection subsection16 shipping_lists">
					<h2>Liability</h2>
					<ul class="afterh2" >
						<li>
							<p>These terms and conditions set out the full extent of our obligations and liabilities in respect of the supply of the Products (and performance of telephone support and warranty services) and the performance of any Services.</p>
						</li>
						<li>
							<p>Save as set out at paragraph 9.3 below, there are no warranties, conditions or other terms that are binding on&nbsp;<a href="https://mdglam.com/" title="mdglam">mdglam.com</a>&nbsp;regarding the supply of Products except as expressly stated in the contract<span>.</span></p>
						</li>
						<li>
							<p>Any warranty, condition or other term arising out of or in connection with the supply of Products and/or the provision of Services which might otherwise be implied into or incorporated in the contract by statute, common law, laws applicable in the country where you purchased the Products or Services or otherwise (including without limitation any implied term as to quality, fitness for purpose, reasonable care and skill) is hereby expressly excluded to the maximum extent permitted by law. In particular,&nbsp;<a href="https://mdglam.com/" title="mdglam">mdglam.com</a>&nbsp;will not be responsible for ensuring that the Products are suitable for your purposes.</p>
						</li>
						<li>
							<p>Nothing in the contract shall limit or exclude our liability (i) for death or personal injury caused by our negligence or (ii) for fraud or (iii) any breach of the obligations implied by applicable compulsory national laws as to title or (iv) any liability which cannot be excluded by law.</p>
						</li>
						<li>
							<p>SUBJECT TO CLAUSE 9.4&nbsp;<a href="https://mdglam.com/" title="mdglam">MDGLAM.COM</a>&nbsp;WILL NOT BE LIABLE UNDER THE CONTRACT FOR ANY LOSS OF INCOME, LOSS OF PROFITS, LOSS OF CONTRACTS, LOSS OF DATA OR FOR ANY INDIRECT OR CONSEQUENTIAL LOSS OR DAMAGE OF ANY KIND HOWSOEVER ARISING AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE&nbsp;<a href="https://mdglam.com/" title="mdglam">MDGLAM.COM</a>. MAXIMUM AGGREGATE LIABILITY UNDER THE CONTRACT WHETHER IN TORT (INCLUDING NEGLIGENCE) OR OTHERWISE SHALL IN NO CIRCUMSTANCES EXCEED THE AMOUNT PAYABLE BY YOU TO&nbsp;<a href="https://mdglam.com/" title="mdglam">MDGLAM.COM</a>&nbsp;IN RESPECT OF THE PRODUCT(S) AND/OR SERVICES IN QUESTION.</p>
						</li>
						<li>
							<p>This does not affect your statutory rights as a consumer, nor your right to return the Products as per clause 7.</p>
						</li>
					</ul>
				</div>
				<div class="subsection subsection17 shipping_lists">
					<h2 class="afterh2" >Data Protection</h2>
					<ul class="afterh2" >
						<li>
							<p>Your transaction records are accessible to you if you are a registered customer by entering your Web Order Number(s) so that you may check the status of your order(s) and check the order content.</p>
						</li>
						<li>
							<p>By placing your order, you agreed and understand that MD GLAM will process and use the data collected from your order form for processing your order. These data will be treated in conformance with the MDGLAM.com Privacy Policy. If you wish to have access to information we hold concerning you, or if you want to make any changes, or if you do not want to receive information from MD GLAM, please follow the update procedure set forth in the Privacy Policy.</p>
						</li>
					</ul>
				</div>
				<div class="subsection subsection18">
					<p><strong>Circumstances beyond reasonable control: </strong>MDGLAM.com will make every effort to perform its obligations under the contract. However, it cannot be held responsible for delays or failure to perform if such delay or failure is caused by any circumstances beyond our reasonable control. In the event of a delay, we will perform our obligations as soon as reasonably possible.</p>
				</div>
				<div class="subsection subsection19">
					<p><strong>Disagreements governing law &amp; jurisdiction:</strong> MDGLAM.com will try to solve any disagreements quickly and efficiently. If you are not happy with the way it deals with any disagreement and you want to take court proceedings, you must do so within the courts of Los Angeles, California. The applicability of the United Nations Convention on Contracts for International Sale of Goods is hereby explicitly excluded.</p>
					<p style="font-size: 17px;">If you have any questions about the Terms &amp; Conditions please email to:&nbsp;<a href="mailto:help@mdglam.com" target="_blank" rel="noopener noreferrer" title="help@mdglam.com">help@mdglam.com</a>&nbsp;to contact us.</p>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
	@media (min-width: 1025px){
		.main-page-container.shopify-main-template--terms-of-service-page{
			width: 1170px;
			margin: 0px auto;
            margin-bottom: 92px;
		}
		.terms-of-services-page.page-content{
			/* margin: 0 65px; */
			margin-top: 92px;	
		}
		.breadcrumbs-section{
           /* margin: 0 65px; */
        }
		.terms-of-services-page p{
			font-size: 18px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
		}
		.terms-of-services-page .subsection.subsection2 p.afterh2, .terms-of-services-page .subsection.subsection14 p.afterh2{
			margin-top: 28px;
		}
		.terms-of-services-page p.afterh2{
			margin-top: 27px;
		}
		.terms-of-services-page ul.afterh2{
			margin-top: 28px;
		}
		
		.terms-of-services-page .subsection {
			margin-top: 40px;
		}
		
		.terms-of-services-page .subsection.same-day_ship, .terms-of-services-page .subsection.subsection2, .terms-of-services-page .subsection.subsection14, .terms-of-services-page .subsection.subsection16, .terms-of-services-page .subsection.subsection17  {
			margin-top: 52px !important;
		}
		 
		
		.terms-of-services-page .subsection.same-subsection14 p{
			margin-top: 28px !important;
		}
		
		
		.terms-of-services-page h2{			
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 46px;
			line-height: 110%;
			/* or 51px */
			/* text-transform: uppercase; */
			/* Black */
			color: #000000;
		}
		
		.terms-of-services-page  ul li{
			padding: revert !important;
			list-style-type: square !important;
			list-style: square !important;
			display: list-item;
			list-style-position: inside;
			font-size: 18px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
			margin-left: 40px;
		}
	}
	
	@media (min-width: 678px) and (max-width: 1024px){
		/* .main-page-container.shopify-main-template--terms-of-service-page{
			width: 1170px;
			margin: 0px auto;
		} */
		.terms-of-services-page.page-content{
			margin: 0 25px;
			margin-top: 60px;	
		}
		.breadcrumbs-section{
            margin: 0 25px;
        }
		.terms-of-services-page p{
			font-size: 18px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
		}
		.terms-of-services-page .subsection.subsection2 p.afterh2, .terms-of-services-page .subsection.subsection14 p.afterh2{
			margin-top: 28px;
		}
		.terms-of-services-page p.afterh2{
			margin-top: 27px;
		}
		.terms-of-services-page ul.afterh2{
			margin-top: 28px;
		}
		
		.terms-of-services-page .subsection {
			margin-top: 40px;
		}
		
		.terms-of-services-page .subsection.same-day_ship, .terms-of-services-page .subsection.subsection2, .terms-of-services-page .subsection.subsection14, .terms-of-services-page .subsection.subsection16, .terms-of-services-page .subsection.subsection17  {
			margin-top: 52px !important;
		}
		 
		
		.terms-of-services-page .subsection.same-subsection14 p{
			margin-top: 28px !important;
		}
		
		
		.terms-of-services-page h2{			
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 30px;
			line-height: 110%;
			/* or 51px */
			/* text-transform: uppercase; */
			/* Black */
			color: #000000;
		}
		
		.terms-of-services-page  ul li{
			padding: revert !important;
			list-style-type: square !important;
			list-style: square !important;
			display: list-item;
			list-style-position: inside;
			font-size: 18px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
			margin-left: 40px;
		}
	}
	
	@media (max-width: 767px){
		.terms-of-services-page.page-content{
			margin: 0 40px;
			margin-top: 40px;	
            margin-bottom: 30px;
		}
		.breadcrumbs-section{
            margin: 0 40px;
        }
		.terms-of-services-page p{
			font-size: 16px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
		}
		.terms-of-services-page .subsection.subsection2 p.afterh2, .terms-of-services-page .subsection.subsection14 p.afterh2{
			margin-top: 24px;
		}
		.terms-of-services-page p.afterh2{
			margin-top: 24px;
		}
		.terms-of-services-page ul.afterh2{
			margin-top: 24px;
		}
		
		.terms-of-services-page .subsection {
			margin-top: 40px;
		}
		
		.terms-of-services-page .subsection.same-day_ship, .terms-of-services-page .subsection.subsection2, .terms-of-services-page .subsection.subsection14, .terms-of-services-page .subsection.subsection16, .terms-of-services-page .subsection.subsection17  {
			margin-top: 48px !important;
		}
		 
		
		.terms-of-services-page .subsection.same-subsection14 p{
			margin-top: 28px !important;
		}
		
		
		.terms-of-services-page h2{			
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 30px;
			line-height: 110%;
			/* or 51px */
			/* text-transform: uppercase; */
			/* Black */
			color: #000000;
		}
		
		.terms-of-services-page  ul li{
			padding: revert !important;
			list-style-type: square !important;
			list-style: square !important;
			display: list-item;
			list-style-position: inside;
			font-size: 16px;
			font-family: 'Proxima Nova Lt';
			font-style: normal;
			margin-top: 16px;
			margin-left: 15px;
		}
	}
</style>


{% schema %}
  {
    "name": "Terms of Service",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}