	<div class="video-content">
		<div id="shopify-section-template-breadcrumbs" class="shopify-section shopify-section-brdcrmp shopify-section-video_tutorials">
			<div class="product-page--header" data-mq="medium-large">
				<ul class="breadcrumbs--root">
					<li data-item="block-link"> <a id="breadcrumbtext" href="/">HOME</a> </li>
					<li id="breadcrumbtitle" data-item="accent-text">Video Tutorials</li>
				</ul>
			</div>
		</div>
		<div id="shopify-section-template--video_tutorials_title" class="shopify-sectio shopify-section-main-title shopify-section-video_tutorials">
			<div class="featured-text--root">			
			  <!--h3 class="featured-text--overline" >  HI GORGEOUS2 </h3-->
			  <h1 class="featured-text--heading featured-text--heading-video_tutorials" data-item="section-heading" > <span class="title1" >Video</span> <span class="title2" >Tutorials</span> </h1>	
			</div>
		</div>
	  <div class="videoType-container">
		<select class="videoType">
		  <option value="all_section" >ALL VIDEOS</option>
		  <option value="about_section" >ABOUT</option>
		  <option value="tutorial_section" >TUTORIALS</option>
		  <option value="review_section" >REVIEWS</option>
		</select>
	  </div>
	  <div class="grid-container grid--uniform collection-grid first_section about_section all_section">
		<div class="grid__item video1 big_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/513970522" />
			<span class="play_icon" id="play-button" >
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/retinol-c-intense-eye-serum" title="Retinol-C Intense Eye Serum">Retinol-C Intense Eye Serum</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/retinol-c-intense-eye-serum" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video2 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/513970128" />
			<span class="play_icon" id="play-button" >
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/dmae-antioxidant-day-moisturizer" title="DMAE Antioxidant Day Moisturizer">DMAE Antioxidant Day Moisturizer</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/dmae-antioxidant-day-moisturizer" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video3 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/513971022" />
			<span class="play_icon" id="play-button" >
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/dmae-antioxidant-day-moisturizer" title="Deep Pore Foaming Cleanser">Deep Pore Foaming Cleanser</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/dmae-antioxidant-day-moisturizer" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video4 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/513969559" />
			<span class="play_icon" id="play-button" >
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/the-ultimate-anti-aging-kit" title="The Ultimate Anti-Aging Kit">The Ultimate Anti-Aging Kit</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/the-ultimate-anti-aging-kit" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video5 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/514009904" />
			<span class="play_icon" id="play-button" >
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/sunshout-sunscreen-50-spf" title="Sunshout Sunscreen SPF 50">Sunshout Sunscreen SPF 50</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/sunshout-sunscreen-50-spf" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video6 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/513970646" />
			<span class="play_icon" id="play-button" >
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/hyaluronic-acid-night-c-complex" title="Hyaluronic Acid Night C-Complex">Hyaluronic Acid Night C-Complex</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/hyaluronic-acid-night-c-complex" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video7 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374241556" />
			<span class="play_icon" id="play-button" >
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/the-ultimate-anti-aging-kit" title="The Ultimate Anti-Aging Kit">The Ultimate Anti-Aging Kit</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/the-ultimate-anti-aging-kit" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video8 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/513971211" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/exfoliating-enzyme-scrub" title="Exfoliating Enzyme Scrub">Exfoliating Enzyme Scrub</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/exfoliating-enzyme-scrub" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video9 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374236715" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/the-full-md-glam-collection" title="The Full MD GLAM Collection">The Full MD GLAM Collection</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/the-full-md-glam-collection" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video10 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/513971284" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">About</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/hyaluronic-acid-night-c-complex" title="Hyaluronic Acid Night C-Complex">Hyaluronic Acid Night C-Complex</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/hyaluronic-acid-night-c-complex" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item itemaE1"></div>
		<div class="grid__item itemaE2"></div>
	  </div>
	  <div class="grid-container grid--uniform collection-grid second_section tutorial_section all_section">
		<div class="grid__item video11 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374236715" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/the-full-md-glam-collection" title="The Full MD GLAM Collection">The Full MD GLAM Collection</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/the-full-md-glam-collection" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video12 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374242819" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/exfoliating-enzyme-scrub" title="Exfoliating Enzyme Scrub">Exfoliating Enzyme Scrub</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/exfoliating-enzyme-scrub" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video13 big_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374241737" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/hyaluronic-acid-night-c-complex" title="Hyaluronic Acid Night C-Complex">Hyaluronic Acid Night C-Complex</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/hyaluronic-acid-night-c-complex" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video14 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374243647" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/sunshout-sunscreen-50-spf" title="Sunshout Sunscreen SPF 50">Sunshout Sunscreen SPF 50</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/sunshout-sunscreen-50-spf" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video15 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/513970522" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/retinol-c-intense-eye-serum" title="Retinol-C Intense Eye Serum">Retinol-C Intense Eye Serum</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/retinol-c-intense-eye-serum" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video16 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374237700" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/the-ultimate-anti-aging-kit" title="The Ultimate Anti-Aging Kit">The Ultimate Anti-Aging Kit</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/the-ultimate-anti-aging-kit" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video17 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374234415" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/dmae-antioxidant-day-moisturizer" title="Deep Pore Foaming Cleanser">Deep Pore Foaming Cleanser</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/dmae-antioxidant-day-moisturizer" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video18 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374235466" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/dmae-antioxidant-day-moisturizer" title="DMAE Antioxidant Day Moisturizer">DMAE Antioxidant Day Moisturizer</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/dmae-antioxidant-day-moisturizer" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		<div class="grid__item video19 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/374235989" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Tutorial</div>
			<div class="video-title-wrapper">
			  <h2 class="text-center section-title custom-page-video-title">
				<a href="/products/retinol-c-intense-eye-serum" title="Retinol-C Intense Eye Serum">Retinol-C Intense Eye Serum</a>
			  </h2>
			  <div class="BackToShopBtn" data-item="button" style="">
				<a href="/products/retinol-c-intense-eye-serum" value="Back to Shop" style="">
				  <span class="btnSpan" style=""> Shop Now </span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="grid-container grid--uniform collection-grid third_section review_section all_section">
		<div class="grid__item video20 big_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/461171550" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Review</div>
		  </div>
		</div>
		<div class="grid__item video21 small_video">
		  <div class="video-wrapper">
			<img class="video_thumbnail" src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/VideoTImage.png?v=1663776385" data-vimeo_src="https://player.vimeo.com/video/461941341" />
			<span class="play_icon">
			  <img src="https://cdn.shopify.com/s/files/1/0655/9442/5598/files/Watch_video_icon.svg?v=1663780707" />
			</span>
		  </div>
		  <div class="video-des-wrapper">
			<div class="catType">Review</div>
		  </div>
		</div>
		<div class="grid__item videoE3"></div>
	  </div>
	</div>
	<div class="vimeo-shadowbox">
		<div class="vimeo-shadowbox__video-wrapper">
		  <div class="vimeo-shadowbox__video">
			  <iframe class="video" id="video" src="" width="868" height="490" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allow='autoplay' allowfullscreen="" data-ready="true"></iframe>  
		  </div>
		  <a class="vimeo-shadowbox__close-button" href="#">X</a>
		</div>
	</div>
	<!--iframe data-src="https://player.vimeo.com/video/461941341" class="lazyload" loading="lazy" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe-->
	<style>
	@media (min-width: 1025px){
		.title1{
			height: 121px;
			float: left;
		}
		.title2{
			float: right;
		}
		.featured-text--heading.featured-text--heading-video_tutorials{
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 110px;
			line-height: 110%;
			/* identical to box height, or 121px */

			text-transform: uppercase;

			/* Black */

			color: #000000;
			width: 80%;
			height: 242px;
			margin: 0px auto;
			margin-top: 3px;
			margin-bottom: 40px;
		}
		.vimeo-shadowbox{
			display: none;
		}
		
		.grid__item.small_video {
			margin-bottom: 26px;
		}
		.big_video img.video_thumbnail {
			width: 868px;
			height: 560px;
		}
		.big_video .video-des-wrapper {
			height: 102px;;
			margin-top: 22px; 	
		}
		.small_video .video-des-wrapper {
			height: 102px;;
			margin-top: 8px; 	
		}
		.big_video .video-title-wrapper {
		   position: relative
		}
		.small_video .video-title-wrapper {
		   position: relative;	
		}
		.big_video .catType {
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 130%;
			/* identical to box height, or 21px */

			letter-spacing: 0.04em;
			text-transform: uppercase;

			/* Gray */

			color: #515151;
		}
		.small_video .catType {
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			/* or 18px */

			letter-spacing: 0.04em;
			text-transform: uppercase;

			/* Gray */

			color: #515151;	
		}
		.big_video .video-title-wrapper h2{
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 32px;
			line-height: 100%;
			/* identical to box height, or 32px */


			/* Black */

			color: #000000;
			position: absolute;	
			margin-top: 18px;
			
		}
		.small_video .video-title-wrapper h2{
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;
			/* or 23px */


			/* Black */

			color: #000000;
			position: absolute;	
			margin-top: 4px;
			width: 50%;
		}
		.small_video .video-des-wrapper {
			height: 74px;
		}
		img.video_thumbnail {
			width: 424px;
			height: 240px;
		}
		.video-wrapper{
			position: relative;
		}
		.small_video .play_icon{
			width: 64px;
			height: 64px;
		}
		.big_video .play_icon{
			width: 82px;
			height: 82px;
		}
		.play_icon{
			position: absolute;
			
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin-left: auto;
			margin-right: auto;
			margin-top: auto;
			margin-bottom: auto;
		}
		
		.videoType{
			border: none;
			outline:0px;
			width: 125px;
			margin-bottom: 6px;
		}
		.videoType-container{
			border-bottom: 1px solid;
			margin-bottom: 24px;
			
		}
		.video-content{
			width: 1170px;
			margin: 0px auto;
			margin-top: 13px;
		}

		.video1 { grid-area: itema1; }
		.video2 { grid-area: itema2; }
		.video3 { grid-area: itema3; }
		.video4 { grid-area: itema4; }
		.video5 { grid-area: itema5; }
		.video6 { grid-area: itema6; }
		.video7 { grid-area: itema7; }
		.video8 { grid-area: itema8; }
		.video9 { grid-area: itema9; }
		.video10 { grid-area: itema10; }
		.video11 { grid-area: itema11; }
		.video12 { grid-area: itema12; }
		.video13 { grid-area: itema13; }
		.video14 { grid-area: itema14; }
		.video15 { grid-area: itema15; }
		.video16 { grid-area: itema16; }
		.video17 { grid-area: itema17; }
		.video18 { grid-area: itema18; }
		.video19 { grid-area: itema19; }
		.video20 { grid-area: itema20; }
		.video21 { grid-area: itema21; }

		.grid-container {
			display: grid;
			grid-template-areas:
				'itema1 itema1 itema2'
				'itema1 itema1 itema3'
				'itema4 itema5 itema6'
				'itema7 itema8 itema9'
				'itema10 itemaE1 itemaE2'
				'itema11 itema13 itema13'
				'itema12 itema13 itema13'
				'itema14 itema15 itema16'
				'itema17 itema18 itema19'
				'itema20 itema20 itema21'
				'itema20 itema20 itemaE3';
			gap: 0 20px;
			margin-bottom: 50px;
		}
		.BackToShopBtn{
		  margin-top: 1px;
		}

	}
	
	@media (max-width: 767px) {
		
		.featured-text--heading.featured-text--heading-video_tutorials{
			font-family: 'Spectral';
			font-style: normal;
			font-weight: 275;
			font-size: 42px;
			line-height: 110%;
			/* or 46px */

			text-transform: uppercase;

			/* Black */

			color: #000000;
			height: 92px;
			margin-top: 24px;
			margin-bottom: 23px;
		}
		.vimeo-shadowbox{
			display: none;
		}
		img.video_thumbnail {
			width: 868px;
			height: 560px;
		}
		.video-des-wrapper {
			height: 103px;;
			margin-top: 8px; 	
		}
		.video-title-wrapper {
		   position: relative;	
		}		
		.catType {
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			/* or 18px */

			letter-spacing: 0.04em;
			text-transform: uppercase;

			/* Gray */

			color: #515151;	
		}
		.video-title-wrapper h2{
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;
			/* or 23px */


			/* Black */

			color: #000000;
			position: absolute;	
			margin-top: 0px;
			width: 50%;
		}
		img.video_thumbnail {
			width: 344px;
			height: 240px;
		}
		.video-wrapper{
			position: relative;
		}
		.play_icon{
			width: 64px;
			height: 64px;
		}
		.play_icon{
			position: absolute;
			
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin-left: auto;
			margin-right: auto;
			margin-top: auto;
			margin-bottom: auto;
		}
		
		.videoType{
			border: none;
			outline:0px;
			width: 125px;
			margin-bottom: 6px;
		}
		.videoType-container{
			border-bottom: 1px solid;
			margin-bottom: 16px;
			
		}
		.video-content{
			padding: 0 16px;
			margin: 0px auto;
			margin-top: 13px;
			margin-bottom: 80px;
		}

		

		.grid-container {
			
			/*margin-bottom: 50px;*/
		}
		.BackToShopBtn{
		  margin-top: 4px;
		}
		.vimeo-shadowbox__video-wrapper{
			width: 344px;
			height: 200px;
		}
	}

		
		.BackToShopBtn a{
		  width: 160px;
		  height: 48px;
		  font-family: 'Proxima Nova';
		  font-style: normal;
		  font-weight: 400;
		  font-size: 16px;
		  text-decoration: none;
		  text-align: center;
		  letter-spacing: 0.04em;
		  /* text-transform: uppercase; */
		  color: #000000 !important;
		  background: #f7edec00 !important;
		  border-radius: 120px/20px;
		  border: 1px solid;
		  position: absolute;
			right: 0;
		}
		.BackToShopBtn a:hover{
		   color: #ffffff !important;
		  background: #000000 !important;
		}
		.BackToShopBtn a span{
		  vertical-align: middle;
		}
	</style>


	<script>
		jQuery(document).ready(function(){
			jQuery('.videoType').change(function(){
				var selType = jQuery(this).find(":selected").val();
				jQuery('.grid-container').hide();
				jQuery('.'+selType).show();				
			});
			jQuery('.play_icon').click(function(){
				jQuery('.vimeo-shadowbox').show();	
				var vimeoSrc = jQuery(this).parent().find(".video_thumbnail").attr('data-vimeo_src');
				jQuery('iframe.video').attr('src', vimeoSrc);
				setTimeout(function () {
					var player = document.getElementById("video");
					var data = { method: "play" };
					player.contentWindow.postMessage(JSON.stringify(data), "*");
				}, 1500);
			});
			jQuery('.vimeo-shadowbox__close-button').click(function(){
				jQuery('.vimeo-shadowbox').hide();	
				jQuery('iframe.video').attr('src', '');
			});
			
		});
		</script>
	
	{% schema %}
	  {
		"name": "Video Tutorials",
		"settings": []
	  }
	{% endschema %}

	{% stylesheet %}
	{% endstylesheet %}

	{% javascript %}
	
	{% endjavascript %}