@media (min-width: 769px) {
    .lg--hide {
        display: none !important;
    }
    .lg--f1 {
        font-size: 7vw;
        line-height: 1.1;
        @media (min-width: 1440px) {
            font-size: 110px;
        }
    } 
    .lg--f2 {
        font-size: 5vw;
        line-height: 1.1;
        @media (min-width: 1440px) {
            font-size: 82px;
        }
    }
    .lg--f48 {
        font-size: 48px;
        line-height: 1.1;
    }
    .lg--f32 {
        font-size: 32px;
        line-height: 1.1;
    }
    .lg--f24 {
        font-size: 24px;
        line-height: 1.1;
    }
    .lg--f18 {
        font-size: 18px;
        line-height: 1.1;
    }
    .lg--f16 {
        font-size: 16px;
        line-height: 1.1;
    }
    .lg--f14 {
        font-size: 14px;
        line-height: 1.1;
    }
}
@media (max-width: 768px) {
    .sm--hide {
        display: none !important;
    }
    .sm--f48 {
        font-size: 48px;
        line-height: 1.1;
    }
    .sm--f42 {
        font-size: 42px;
        line-height: 1.1;
    }
    .sm--f40 {
        font-size: 40px;
        line-height: 1.1;
    }
    .sm--f30 {
        font-size: 30px;
        line-height: 1.1;
    }
    .sm--f24 {
        font-size: 24px;
        line-height: 1.1;
    }
    .sm--f20 {
        font-size: 20px;
        line-height: 1.1;
    }
    .sm--f18 {
        font-size: 18px;
        line-height: 1.1;
    }
    .sm--f16 {
        font-size: 16px;
        line-height: 1.1;
    }
    .sm--f14 {
        font-size: 14px;
        line-height: 1.1;
    }
    .sm--f10 {
        font-size: 10px;
        line-height: 1.1;
    }
}

.page-width {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.fw-bold {
    font-weight: 700;
}
.fw-normal {
    font-weight: 400;
}
.fw-light {
    font-weight: 300;
}
.ff-heading {
    font-family: 'Spectral';
}
.ff-body {
    font-family: 'Proxima Nova';
}
.uppercase {
    text-transform: uppercase;
}
.color-black {
    color: #000 !important;
}
.color-white {
    color: #FFF !important;
}
.bg-black {
    background-color: #000 !important;
}
.bg-transpatent {
    background-color: transparent !important;
}
// hero banner style start...................................................

.hero__wrapper {
    position: relative;
    margin-top: 61px;
    @media (max-width: 767px) {
        margin-top: 20px;
        min-height: 550px;
    }
    .hero__image--wrapper {
        img {
            width: 100%;
        }
    }
    .hero__text--wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 65px;
        @media (max-width: 767px) {
            padding: 0px 16px 16px;
        }
       
        .title {
            margin-top: 20px;
            margin-bottom: 0;
            max-width: 70%;
            line-height: 1.1;
            @media (max-width: 767px) { 
                margin-top: 16px;
                max-width: 100%;
                letter-spacing: 0;
            }
           
        }
        .text {
            max-width: 313px;
            @media (max-width: 767px) {
                max-width: 230px;
            }
            p {
                margin-top: 8px;
                &:last-child {
                    font-weight: 300;
                    @media (max-width: 767px) {
                        max-width: 180px;
                    }
                }
            }
        }
        .hero__button--wrapper {
            margin-top: 32px;
            margin-bottom: 32px;
            display: flex;
            @media (max-width: 767px) {
                position: absolute;
                bottom: 0;
                margin-bottom: 16px;
            }
            .btn {
                width: 160px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 24px;
                border: 1px solid #000000;
                border-radius: 300% 300% 300% 300% / 200% 200% 200% 200%;
                &:hover {
                    color: #F7EDEC !important;
                    background-color: #F2A7A0 !important;
                    border-color: #F2A7A0 !important;
                }
            }
        }
        .hero__review--wrapper {
            @media (max-width: 767px) {
                margin-top: 16px;
            }
        }
    }
}

// hero banner style end.....................................................

// text with image style start...............................................

.image-text--wrapper {
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
    @media (max-width: 767px) {
        padding: 0 12px;
        gap: 20px;
    }
    .image--wrapper {
        width: 47%;
        position: relative;
        @media (max-width: 767px) {
            width: 100%;
        }
        .sm--hide {
            width: 90%;
        }
        .overlay_image {
            position: absolute;
            top: 32px;
            left: 32px;
            @media (max-width: 767px) {
                width: 80px;
                height: 80px;
                right: 45px;
                bottom: -35px;
                top: unset;
                left: unset;
            }
        }
    }
    .text--wrapper {
        width: 49%;
        @media (max-width: 767px) {
            width: 100%;
        }
        .title {
            margin-bottom: 16px;
            letter-spacing: 0;
        }
        .text_image {
            width: 100%;
            margin-bottom: 16px;
        }
        .subtitle {
            margin-bottom: 40px;
            margin-top: 0;
            p {
                margin-bottom: 21px;
                @media (max-width: 767px) {
                    margin-bottom: 37px;
                }
                em {
                    position: relative;
                    font-style: normal;
                    display: inline-block;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 5px;
                        bottom: -10px;
                        left: 0;
                        @media (max-width: 767px) {
                            bottom: -20px;
                        }
                    }
                }

            }
            @media (max-width: 767px) {
                margin-bottom: 16px;
                max-width: 100%;
            }
        }
        .text {
            margin-bottom: 40px;
            max-width: 555px;
            line-height: 1.3; 
            p {
                margin-bottom: 10px;
                strong {
                    display: block;
                    margin-top: 16px;
                    @media (max-width: 767px) {
                        margin-top: 0;
                    }
                }
                em {
                    font-style: normal;
                    font-size: 14px;
                }
            }
            @media (max-width: 767px) {
                margin-bottom: 16px;
                max-width: 100%;
            }
            p {
                margin-bottom: 8px;
            }
        }
        .btn {
            width: 200px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000000;
            border-radius: 300% 300% 300% 300% / 200% 200% 200% 200%;
            &:hover {
                color: #F7EDEC;
                background-color: #F2A7A0;
                border-color: #F2A7A0;
            }
        }
        .icon--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                max-width: 96px;
                width: 100%;
                @media (max-width: 767px) {
                    max-width: 76px;
                }
            }
        }
    }
}

// text with image style end.................................................

// logo style start..........................................................

.logos--wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    @media (max-width: 767px) {
        max-width: 1000px;
        width: 1000px;
        padding: 10px 0;
    }
}

// logo style end............................................................

// image and text style start................................................

.women-product__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
    .women--wrapper {
        display: flex;
        flex-direction: column;
        width: 47%;
        @media (max-width: 767px) {
            width: 100%;
        }
        .subtitle {
            margin-top: 24px;
        }
        .text {
            margin-top: 8px;
        }
    }
    .product--wrapper {
        display: flex;
        flex-direction: column;
        width: 47%;
        @media (max-width: 767px) {
            width: 100%;
        }
        .title {
            line-height: 1.1;
        }
        img {
            margin-top: 40px;
            @media (max-width: 767px) {
                margin-top: 16px;
            }
        }
    }
}

// image and text style end..................................................

// featured product style start.............................................
.featured-product--root {
    padding: 72px 65px;
    @media (max-width: 767px) {
        padding:32px 16px;
    }
    .featured-product--wrapper {
        justify-content: space-between;
        
        .featured-product--media {
            width: 47%;
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            @media (max-width: 767px) {
                width: 100%;
                flex-direction: row;
            }
            .featured-product--slider__buttons {
                position: absolute;
                top: calc(50% - 41px);
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 0 16px;
                img {
                    width: 32px;
                }
            }
            .featured-product--medias {
                width: 80%;
                @media (max-width: 767px) {
                    width: 100%;
                    overflow: auto;
                    display: flex;
                    gap: 16px;
                    padding-bottom: 25px;
                    &::-webkit-scrollbar-track
                    {
                        background-color: #FFF;
                    }
    
                    &::-webkit-scrollbar
                    {
                        background-color: #FFF;
                        height: 3px;
                        width: 200px;
                    }
    
                    &::-webkit-scrollbar-thumb
                    {
                        background-color: #F2A7A0;
                        border: 2px solid #F2A7A0;
                        border-radius: 2px;
                        height: 3px;
                    }
                    .product-media--root {
                        max-width: 300px;
                        width: 100%;
                        .product-media--featured {
                            display: block;
                        }
                    }
                }
            }
            [data-view="thumb-container"] {
                width: 20%;
                @media (max-width: 767px) {
                    display: none;
                }
                .product-media--thumbs {
                    flex-direction: column;
                    display: flex;
                    gap: 10px;
                    align-items: flex-start;
                    .product-media--thumb-container {
                        width: 100%;
                        max-width: 56px;
                        img {
                            border-radius: 100%;
                        }
                    }
                }
            }
            
        }
        .featured-product--blocks {
            width: 47%;
            margin-right: 0;
            @media (max-width: 767px) {
                width: 100%;
            }
            .featured-product--block {
                position: relative;
                .product-price--original {
                    font-size: 48px;
                    line-height: 1.1;
                }
                .product-price--compare {
                    font-size: 32px;
                    line-height: 1.1;
                    color: gray;
                }
                @media (max-width: 767px) {
                    text-align: left;
                    margin-top: 20px;
                    .product-price--root {
                        align-items: flex-start;
                        .product-price--original {
                            font-size: 48px;
                        }
                        .product-price--compare {
                            font-size: 24px;
                        }
                    }
                }
                
                .product-buy-buttons--root {
                    display: block;
                    position: absolute;
                    right: 50px;
                    top: -90px;
                    @media (max-width: 767px) {
                        right: 0;
                        top: -65px;
                    }
    
                    .product-buy-buttons--cta {
                        font-family: var(--p-font-weight-regular);
                        text-transform: uppercase;
                        width: 200px;
                        height: 60px;
                        display: flex;
                        font-size: 16px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 300% 300% 300% 300% / 200% 200% 200% 200%;
                        background-color: #000;
                        &:disabled {
                            background-color: #d2d2d2;
                        }
                        @media (max-width: 767px) {
                            width: 164px;
                            height: 40px;
                            
                        }
                    }
                }
            }
        }
    }
}

// featured product style end...............................................

// featured collection style start..........................................

.featured-collection--root {
    padding: 72px 65px;
    @media (max-width: 767px) {
        padding:32px 16px;
    }
    .featured-collection--header {
        justify-content: flex-start;
        max-width: 645px;
        .featured-collection--header-text {
            .featured-collection--title {
                text-align: left;
                @media (max-width: 767px) {
                    text-align: left; 
                }
            }
        }
    }
    .featured-collection--grid {
        .product--root {
            .product--label-container {
                display: none;
            }
            .product--details-container {
                .product--details {
                    flex-direction: column;
                    .product--title {
                        margin-top: 0;
                    }
                    .product--price-wrapper {
                        margin-top: 20px;
                        .product--price {
                            font-family: "Proxima Nova";
                            font-size: 48px;
                            line-height: 1.1;
                            @media (max-width: 767px) {
                                font-size: 32px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

// featured collection style end..........................................

// image with accordion style start.........................................

.image-accordion--wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
    .image--wrapper {
        width: 47%;
        img {
            width: 85%;
        }
    }
    .accordion--wrapper {
        width: 47%;
        @media (max-width: 767px) {
            width: 100%;
        }
        .title {
            margin-bottom: 50px;
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
        .accordions {
            .accordion_item {
                border-bottom: #000 solid 1px;
                .accordion_header {
                    padding: 30px 0 0;
                    position: relative;
                    cursor: pointer;
                    &::after {
                        content: "";
                        width: 17px;
                        position: absolute;
                        right: 0;
                        height: 27px;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
                .accordion_body {
                    max-height: 0;
                    width: 100%;
                    transition: max-height 0.2s ease-out;
                    overflow: hidden;
                    margin: 10px 0;
                    p {
                        margin-bottom: 10px;
                    }
                    ul {
                        margin-top: 10px;
                        column-count: 2;
                        @media (max-width: 767px) {
                            column-count: unset;
                        }
                        li {
                            padding: 4px 0;
                            display: flex;
                            gap: 8px;
                        }
                    }
                    img {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}

// image with accordion style end.........................................

// review slider style start..............................................

.review-slider--wrapper {
    padding: 0 65px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
    .title {
        margin: 0%;
    }
    .title_content {
        display: flex;
        max-width: 70%;
        gap: 10px;
        @media (max-width: 767px) {
            max-width: 100%;
            gap: 16px;
            flex-direction: column;
        }
        .title {
            width: max-content;
        }
        .subtitle {
            width: 200px;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
    .slider--wrapper {
        overflow: auto;
        margin-top: 44px;
        padding-bottom: 64px;
        position: relative;
        @media (max-width: 767px) {
            margin-top: 20px;
        }
        .slider--content {
            display: flex;
            gap: 20px;
            width: 100%;
            overflow: scroll;
            .review-slider--item {
                min-width: 82%;
                width: 100%;
                padding: 30px 60px;
                display: flex;
                gap: 22px;
                background: rgba(247, 237, 236, 0.9);
                backdrop-filter: blur(10px);
                @media (max-width: 767px) {
                    flex-direction: column;
                    gap: 24px;
                    padding: 24px 16px;
                    min-width: 95%;
                }
                .image--wrapper {
                    width: 45%;
                    position: relative;
                    
                    margin-top: 10%;
                    margin-left: 15%;
                    @media (max-width: 767px) {
                        width: 80%;
                        margin-top: 15%;
                        margin-left: 20%;
                    }
                    .before_image {
                        max-width: 313px;
                        width: 100%;
                        position: absolute;
                        top: -20%;
                        left: -34%;
                        transform: rotate(-15deg);
                        z-index: -1;
                        @media (max-width: 767px) {
                            transform: unset;
                            top: -18%;
                            left: -25%;
                        }
                    }
                    .after_image {
                        max-width: 313px;
                        width: 100%;
                    }
                }
                .data--wrapper {
                    width: 55%;
                    border-bottom: #F2A7A0 solid 1px;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    .reviewer {
                        margin-top: 25px;
                    }
                    .star-date--wrapper {
                        margin-top: 32px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        .date {
                            margin-left: 15px;
                        }
                    }
                    .data--table {
                        padding: 16px 0;
                        display: flex;
                        border-top: #F2A7A0 solid 1px;
                        border-bottom: #F2A7A0 solid 1px;
                        line-height: 1.3;
                        font-family: "Proxima Nova"; 
                        gap: 10px;
                        @media (max-width: 767px) {
                            flex-wrap: wrap;
                            gap: 18px;
                        }
                        .age--content {
                            width: 28%;
                            .age--header {
                                color: #939598;
                                font-size: 16px;
                            }
                            .age--body {
                                color: #000;
                                font-size: 18px;
                            }
                        }
                        .type--content {
                            width: 38%;
                            .type--header {
                                color: #939598;
                                font-size: 16px;
                            }
                            .type--body {
                                color: #000;
                                font-size: 18px;
                            }
                        }
                        .concerns--content {
                            width: 54%;
                            @media (max-width: 767px) {
                                width: 100%;
                            }
                            .concerns--header {
                                color: #939598;
                                font-size: 16px;
                            }
                            .concerns--body {
                                color: #000;
                                font-size: 18px;
                            }
                        }
                    }
                    .description {
                        margin: 16px 0;
                    }
                }
            }
            &::-webkit-scrollbar-track
            {
                display: none;
            }
    
            &::-webkit-scrollbar
            {
                display: none;
            }
    
            &::-webkit-scrollbar-thumb
            {
                display: none;
            }
        }
        .item--count {
            position: absolute;
            left: 0;
            bottom: 14px;
            color: #F2A7A0;
            font-size: 18px;
            font-weight: 300;
            font-family: "Proxima Nova";
        }
        .scroll-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 3px;
            background-color: #fff;
            .scroll-tumb {
                height: 3px;
                background-color: #F2A7A0;
                transition: margin .2s ease-out;
            }
        }
        .scroll-button {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            gap: 24px;
        }
    }
    
}

// review slider style end................................................

// testimonial style start................................................

.testimonials--wrapper {
    padding: 0 65px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
    .title {
        margin: 0;
    }
    .testimonials--content {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        overflow: auto;
        &::-webkit-scrollbar-track
            {
                display: none;
            }
    
            &::-webkit-scrollbar
            {
                display: none;
            }
    
            &::-webkit-scrollbar-thumb
            {
                display: none;
            }
        .testimonial--item {
            width: 33%;
            @media (max-width: 767px) {
                min-width: 300px
            }
            .title-star-date {
                display: flex;
                margin-top: 24px;
                .title {
                    width: 40%;
                }
                .star-date--wrapper {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    .date {
                        line-height: 1;
                        margin-left: 8px;
                    }
                }
            }
            
            .subtitle {
                width: 100%;
                margin-top: 16px;
            }
            .description {
                margin-top: 0;
                width: 100%;
                line-height: 1.3;
                max-height: 0;
                transition: 0s ease-in-out;
                overflow: hidden;
                &.active {
                    max-height: 200px;
                    transition: .5s ease-in-out;
                    transition-delay: .5s;
                    margin-top: 24px;
                }
            }
            .read_more_btn {
                margin-top: 8px;
                display: block;
            }
            .description_more {
                max-height: 0;
                overflow: hidden;
                margin-top: 24px;
                line-height: 1.3;
                width: 100%;
                transition: .5s ease-in-out;
                &.active {
                    max-height: 200px;
                    transition: .5s ease-in-out;
                }
            }
        }
    }
    .scroll-controller {
        position: relative;
        margin-top: 58px;
        
        .item--count {
            position: absolute;
            left: 0;
            bottom: 14px;
            color: #F2A7A0;
            font-size: 18px;
            font-weight: 300;
            font-family: "Proxima Nova";
        }
        .scroll-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 3px;
            background-color: #fff;
            .scroll-tumb {
                height: 3px;
                background-color: #F2A7A0;
                transition: margin .2s ease-out;
            }
        }
        .scroll-button {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            gap: 24px;
        }
    }
    
}

// testimonial style end................................................

//featured blog section style...............................................

.featured-blog--root {
    padding: 0 65px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
    .featured-blog--header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .featured-blog--heading {
            margin: 0;
            @media (max-width: 767px) {
                font-size: 40px;
            }
        }
        .btn {
            width: 200px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000000;
            border-radius: 300% 300% 300% 300% / 200% 200% 200% 200%;
            &:hover {
                color: #F7EDEC;
                background-color: #F2A7A0;
                border-color: #F2A7A0;
                div {
                    color: #F7EDEC;
                }
            }
            @media (max-width: 767px) {
                display: none;
            }
            div {
                background-color: transparent;
                color: #000;
            }
        } 
    }
    .featured-blog--grid {
        margin-top: 40px;
        grid-column-gap: 20px;
        &::-webkit-scrollbar-track
        {
            display: none;
        }

        &::-webkit-scrollbar
        {
            display: none;
        }

        &::-webkit-scrollbar-thumb
        {
            display: none;
        }
        @media (max-width: 767px) {
            margin-top: 16px;
            display: flex;
            width: 100%;
            overflow: auto;
            justify-content: unset;
        }
        .article--item {
            @media (max-width: 767px) {
                min-width: 300px; 
                width: 100%;
            }
            .article--item-info {
                .article--item--date {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 300;
                    font-family: "Proxima Nova";
                }
            }
            .article--item--heading {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 300;
                font-family: 'Spectral';
                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
            .article--item--excerpt {
                font-size: 18px;
                font-weight: 300;
                font-family: "Proxima Nova";
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
            .article--item--read-more {
                margin-top: 20px;
                height: 100%;
                display: flex;
                align-items: flex-end;
                @media (max-width: 767px) {
                    margin-top: 10px;
                }
                .btn {
                    width: 200px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #000000;
                    border-radius: 300% 300% 300% 300% / 200% 200% 200% 200%;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 300;
                    font-family: "Proxima Nova";
                    &:hover {
                        color: #F7EDEC;
                        background-color: #F2A7A0;
                        border-color: #F2A7A0;
                    }
                    @media (max-width: 767px) {
                        width: 162px;
                        height: 52px;
                        font-size: 16px;
                    }
                    &::after {
                        content: unset;
                    }
                }
            }
        }
    }
    .scroll-controller {
        position: relative;
        margin-top: 58px;
        
        .item--count {
            position: absolute;
            left: 0;
            bottom: 14px;
            color: #F2A7A0;
            font-size: 18px;
            font-weight: 300;
            font-family: "Proxima Nova";
        }
        .scroll-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 3px;
            background-color: #fff;
            .scroll-tumb {
                height: 3px;
                background-color: #F2A7A0;
                transition: margin .2s ease-out;
            }
        }
        .scroll-button {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            gap: 24px;
        }
    }
}

//featured blog section style...............................................
