@media (min-width: 769px) {
    .lg--hide {
        display: none !important;
    }
    .lg--f1 {
        font-size: 7vw;
        line-height: 1.1;
        @media (min-width: 1440px) {
            font-size: 110px;
        }
    } 
    .lg--f2 {
        font-size: 5vw;
        line-height: 1.1;
        @media (min-width: 1440px) {
            font-size: 82px;
        }
    }
    .lg--f48 {
        font-size: 48px;
        line-height: 1.1;
    }
    .lg--f32 {
        font-size: 32px;
        line-height: 1.1;
    }
    .lg--f24 {
        font-size: 24px;
        line-height: 1.1;
    }
    .lg--f18 {
        font-size: 18px;
        line-height: 1.1;
    }
    .lg--f16 {
        font-size: 16px;
        line-height: 1.1;
    }
    .lg--f14 {
        font-size: 14px;
        line-height: 1.1;
    }
}
@media (max-width: 768px) {
    .sm--hide {
        display: none !important;
    }
    .sm--f48 {
        font-size: 48px;
        line-height: 1.1;
    }
    .sm--f42 {
        font-size: 42px;
        line-height: 1.1;
    }
    .sm--f40 {
        font-size: 40px;
        line-height: 1.1;
    }
    .sm--f30 {
        font-size: 30px;
        line-height: 1.1;
    }
    .sm--f24 {
        font-size: 24px;
        line-height: 1.1;
    }
    .sm--f20 {
        font-size: 20px;
        line-height: 1.1;
    }
    .sm--f18 {
        font-size: 18px;
        line-height: 1.1;
    }
    .sm--f16 {
        font-size: 16px;
        line-height: 1.1;
    }
    .sm--f14 {
        font-size: 14px;
        line-height: 1.1;
    }
    .sm--f10 {
        font-size: 10px;
        line-height: 1.1;
    }
}

.page-width {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.fw-bold {
    font-weight: 700;
}
.fw-normal {
    font-weight: 400;
}
.fw-light {
    font-weight: 300;
}
.ff-heading {
    font-family: 'Spectral';
}
.ff-body {
    font-family: 'Proxima Nova';
}
.uppercase {
    text-transform: uppercase;
}
.color-black {
    color: #000 !important;
}
.color-white {
    color: #FFF !important;
}
.bg-black {
    background-color: #000 !important;
}
.bg-transpatent {
    background-color: transparent !important;
}
// hero banner style start...................................................

.hero__wrapper {
    position: relative;
    margin-top: 61px;
    @media (max-width: 767px) {
        margin-top: 20px;
        min-height: 550px;
    }
    .hero__image--wrapper {
        img {
            width: 100%;
        }
    }
    .hero__text--wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 65px;
        @media (max-width: 767px) {
            padding: 0px 16px 16px;
        }
       
        .title {
            margin-top: 20px;
            margin-bottom: 0;
            max-width: 70%;
            line-height: 1.1;
            @media (max-width: 767px) { 
                margin-top: 16px;
                max-width: 100%;
                letter-spacing: 0;
            }
           
        }
        .text {
            max-width: 313px;
            @media (max-width: 767px) {
                max-width: 230px;
            }
            p {
                margin-top: 8px;
                &:last-child {
                    font-weight: 300;
                    @media (max-width: 767px) {
                        max-width: 180px;
                    }
                }
            }
        }
        .hero__button--wrapper {
            margin-top: 32px;
            margin-bottom: 32px;
            display: flex;
            @media (max-width: 767px) {
                position: absolute;
                bottom: 0;
                margin-bottom: 16px;
            }
            .btn {
                width: 160px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 24px;
                border: 1px solid #000000;
                border-radius: 70px/14px;
            }
        }
        .hero__review--wrapper {
            @media (max-width: 767px) {
                margin-top: 16px;
            }
        }
    }
}

// hero banner style end.....................................................

// text with image style start...............................................

.image-text--wrapper {
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
    @media (max-width: 767px) {
        padding: 0 12px;
        gap: 20px;
    }
    .image--wrapper {
        width: 47%;
        position: relative;
        @media (max-width: 767px) {
            width: 100%;
        }
        .overlay_image {
            position: absolute;
            top: 32px;
            left: 32px;
            @media (max-width: 767px) {
                width: 80px;
                height: 80px;
                right: 45px;
                bottom: -35px;
                top: unset;
                left: unset;
            }
        }
    }
    .text--wrapper {
        width: 49%;
        @media (max-width: 767px) {
            width: 100%;
        }
        .title {
            margin-bottom: 16px;
            letter-spacing: 0;
        }
        .subtitle {
            margin-bottom: 40px;
            max-width: 524px;
            @media (max-width: 767px) {
                margin-bottom: 16px;
                max-width: 100%;
            }
        }
        .text {
            margin-bottom: 40px;
            max-width: 555px;
            @media (max-width: 767px) {
                margin-bottom: 16px;
                max-width: 100%;
            }
            p {
                margin-bottom: 8px;
            }
        }
        .btn {
            width: 200px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000000;
            border-radius: 70px/14px;
        }
    }
}

// text with image style end.................................................

// logo style start..........................................................

.logos--wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    @media (max-width: 767px) {
        max-width: 1000px;
        width: 1000px;
        padding: 10px 0;
    }
}

// logo style end............................................................

// image and text style start................................................

.women-product__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
    .women--wrapper {
        display: flex;
        flex-direction: column;
        width: 47%;
        @media (max-width: 767px) {
            width: 100%;
        }
        .subtitle {
            margin-top: 24px;
        }
        .text {
            margin-top: 8px;
        }
    }
    .product--wrapper {
        display: flex;
        flex-direction: column;
        width: 47%;
        @media (max-width: 767px) {
            width: 100%;
        }
        .title {
            line-height: 1.1;
        }
        img {
            margin-top: 40px;
            @media (max-width: 767px) {
                margin-top: 16px;
            }
        }
    }
}

// image and text style end..................................................

// featured product style start.............................................
.featured-product--root {
    padding: 72px 65px;
    @media (max-width: 767px) {
        padding:32px 16px;
    }
    .featured-product--wrapper {
        justify-content: space-between;
        
        .featured-product--media {
            width: 47%;
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            @media (max-width: 767px) {
                width: 100%;
                flex-direction: row;
            }
            .featured-product--slider__buttons {
                position: absolute;
                top: calc(50% - 41px);
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 0 16px;
                img {
                    width: 32px;
                }
            }
            .featured-product--medias {
                width: 80%;
                @media (max-width: 767px) {
                    width: 100%;
                    overflow: auto;
                    display: flex;
                    gap: 16px;
                    padding-bottom: 25px;
                    &::-webkit-scrollbar-track
                    {
                        background-color: #FFF;
                        width: 3px;
    
                    }
    
                    &::-webkit-scrollbar
                    {
                        background-color: #FFF;
                        height: 3px;
                    }
    
                    &::-webkit-scrollbar-thumb
                    {
                        background-color: #F2A7A0;
                        border: 2px solid #F2A7A0;
                        border-radius: 2px;
                        height: 3px;
                    }
                    .product-media--root {
                        max-width: 300px;
                        width: 100%;
                        .product-media--featured {
                            display: block;
                        }
                    }
                }
            }
            [data-view="thumb-container"] {
                width: 20%;
                @media (max-width: 767px) {
                    display: none;
                }
                .product-media--thumbs {
                    flex-direction: column;
                    display: flex;
                    gap: 10px;
                    align-items: flex-start;
                    .product-media--thumb-container {
                        width: 100%;
                        max-width: 56px;
                        img {
                            border-radius: 100%;
                        }
                    }
                }
            }
            
        }
        .featured-product--blocks {
            width: 47%;
            margin-right: 0;
            @media (max-width: 767px) {
                width: 100%;
            }
            .featured-product--block {
                position: relative;
                .product-price--original {
                    font-size: 48px;
                    line-height: 1.1;
                }
                .product-price--compare {
                    font-size: 32px;
                    line-height: 1.1;
                    color: gray;
                }
                @media (max-width: 767px) {
                    text-align: left;
                    margin-top: 20px;
                    .product-price--root {
                        align-items: flex-start;
                        .product-price--original {
                            font-size: 48px;
                        }
                        .product-price--compare {
                            font-size: 24px;
                        }
                    }
                }
                
                .product-buy-buttons--root {
                    display: block;
                    position: absolute;
                    right: 50px;
                    top: -90px;
                    @media (max-width: 767px) {
                        right: 0;
                        top: -65px;
                    }
    
                    .product-buy-buttons--cta {
                        font-family: var(--p-font-weight-regular);
                        text-transform: uppercase;
                        width: 200px;
                        height: 60px;
                        display: flex;
                        font-size: 16px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 70px/14px;
                        @media (max-width: 767px) {
                            width: 164px;
                            height: 40px;
                            
                        }
                    }
                }
            }
        }
    }
}

// featured product style end...............................................

// featured collection style start..........................................

.featured-collection--root {
    padding: 72px 65px;
    @media (max-width: 767px) {
        padding:32px 16px;
    }
    .featured-collection--header {
        justify-content: flex-start;
        max-width: 645px;
        .featured-collection--header-text {
            .featured-collection--title {
                text-align: left;
                @media (max-width: 767px) {
                    text-align: left; 
                }
            }
        }
    }
    .featured-collection--grid {
        .product--root {
            .product--label-container {
                display: none;
            }
            .product--details-container {
                .product--details {
                    flex-direction: column;
                    .product--title {
                        margin-top: 0;
                    }
                    .product--price-wrapper {
                        margin-top: 20px;
                        .product--price {
                            font-family: "Proxima Nova";
                            font-size: 48px;
                            line-height: 1.1;
                            @media (max-width: 767px) {
                                font-size: 32px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

// featured collection style end..........................................

// image with accordion style start.........................................

.image-accordion--wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
    .image--wrapper {
        width: 47%;
        img {
            width: 85%;
        }
    }
    .accordion--wrapper {
        width: 47%;
        .title {
            margin-bottom: 50px;
        }
        .accordions {
            .accordion_item {
                border-bottom: #000 solid 1px;
                .accordion_header {
                    padding: 30px 0 0;
                    position: relative;
                    cursor: pointer;
                    &::after {
                        content: "";
                        width: 17px;
                        position: absolute;
                        right: 0;
                        height: 27px;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
                .accordion_body {
                    max-height: 0;
                    width: 100%;
                    transition: max-height 0.2s ease-out;
                    overflow: hidden;
                    margin: 10px 0;
                    p {
                        margin-bottom: 10px;
                    }
                    ul {
                        margin-top: 10px;
                       
                        column-count: 2;
                        li {
                            padding: 4px 0;
                            display: flex;
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }
}

// image with accordion style end.........................................
